{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{% include "breadcrumbs.html" %}
<div class='container'>
	<div class='row about_row'>

		<div class='about_col'>
			<h1>About Crusader Concrete</h1>
			<hr>
			<p>Crusader Concrete has delivered professional concrete, excavation, and bollard installation services to residential, commercial, and municipal clients across the Ottawa area since 2020. Built on a commitment to quality workmanship, reliability and clear communication, our company has grown steadily through repeat business and trusted relationships.</p>
		</div>

		<div class="about_img_layout">
			<div class='about_img_col'>
				<img src= "{% static 'image/about/conor_ethan.jpg' %}" alt="crusader concrete team pouring concrete">

				<img src= "{% static 'image/about/conor_mark.jpg' %}" alt="crusader employees finishing concrete">
			</div>
			<div class='about_img_col'>
				<img src= "{% static 'image/about/meagan_ethan.jpg' %}" alt="crusader employees having fun">
			</div>
		</div>

	</div>
</div>
{% endblock %} 