{% extends "base.html" %}
<head>
<link rel="canonical" href="http://mcexcavate.com/about/"/>
</head>
{% block content %}
{% load crispy_forms_tags %}
{% include 'top_banner.html' %}
{% load static %}

<div class='container'>
	<div class='row mt-3 mb-3'>

		<div class='col-12' style='margin-bottom:100px;'>
			<h1 style='color:black;'>McExcavate</h1>
			<p>We have been providing excavation and landscaping services to residential and commercial clients in Ottawa since 2013.</p>
		</div>

	</div>
</div>
{% endblock %}