{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<div class='container'>
	<div class='row'>
		<div class='col-12 service_top_row'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-md-6'>
						<h1>{{title}}</h1>
						<p>Hire us to pave your driveway because we have paved over one million square feet In Ottawa. Our experienced crews use top quality tools and specialized equipment. We use top quality HL3 fine asphalt on residential driveways to ensure a long life for your driveway.</p>
						<a href='/contact'><button class="btn btn-danger service_page_button">Request a Free Quote!</button></a>
					</div>
					<div class='col-md-6'>
						<img src= "{% static 'image/paving/ottawa-asphalt-driveway-paving.jpg' %}" alt="ottawa new asphalt driveway in Barrhaven" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p class='mt-2' style='font-size: 14px;font-style: italic;'>Asphalt driveway - Barrhaven</p>
					</div>
				</div>
			</div>
		</div>
				
		<div class='col-12'>
			<hr>
			<div class='container-fluid'>
				<div class='row my-3 mt-4'>
					<div class='col-12'>
						<div class='home_page_services' style='overflow: hidden;'>
						<h3 class='mb-3'>Asphalt Paving Price Calculator</h3>
						{% if messages %}
						    {% for message in messages %}
						    <div class='alert alert-{{ message.tags }}' style='width:inherit;'>
						      {{ message }}
						    </div>
						    {% endfor %}
					    {% endif %}
						<p>Enter your driveway dimensions for an approximate price estimate.</p>
						<p class='mb-3'>Price is based on paving with 2" of 'HL3 Fine' asphalt.</p>
						<form id='asphalt_form' method='POST' action=".">{% csrf_token %}
							<div class='form-row'>
								<div class='form-group col-md-6 mb-0'>
									{{ form.name|as_crispy_field }}
								</div>
								<div class='form-group col-md-6 mb-0'>
									{{ form.email|as_crispy_field }}
								</div>
 							</div>
 							<div class='form-row'>
								<div class='form-group col-md-6 mb-0'>
									{{ form.address|as_crispy_field }}
								</div>
								<div class='form-group col-md-6 mb-0'>
									{{ form.pave_type|as_crispy_field }}
								</div>
 							</div>
 							<div class='form-row mb-2'>
 								<p>Size of Driveway:</p>
 							</div>
 							<div class='form-row'>
								<div class='form-group col-4 mb-0'>
									{{ form.length|as_crispy_field }}
								</div>
								<div class='form-group col-4 mb-0'>
									{{ form.width|as_crispy_field }}
								</div>
								<div class='form-group col-4 mb-0'>
									{{ form.area|as_crispy_field }}
								</div>
 							</div>
 							<div class='pt-3'>
					      		<button id='' style='float:right;' type="submit" class="btn btn-danger mt-2">Show Me The Price Now!</button>
					      	</div>
				      	</form>
				      	</div>
					</div>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h3>Our Paving Process</h3>
			<div class='container-fluid'>

				<div class='row my-3 p-1'>
					<h4>Excavation</h4>
					<p>The first step to repaving a driveway is to remove the old apshalt. Often we rebuild the base of the driveway as well. When rebuilding a base we excavate down about 12". </p>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/asphalt-removal-1.jpg' %}" alt="skid steer lifting old asphalt" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/asphalt-removal-2.jpg' %}" alt="skid steer peeling old asphalt" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/excavation-1.jpg' %}" alt="excavated driveway" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
				</div>

				<div class='row my-3 p-1'>
					<h4>Base Preperation</h4>
					<p>If we are only removing the old asphalt we will add some crushed stone to correct any grading isues in the current base and then compact the base with rollers and plate compactors". If we are re-doing the whole base we will add the appropriate amount of granualar 'A' stone (usually about ten inches), compact it and grade it properly to prepare for paving.</p>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/base-prep-1.jpg' %}" alt="loose gravel in new driveway base" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/rolling-driveway.jpg' %}" alt="rolling ashalt driveway base" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/base1.jpg' %}" alt="driveway base ready to pave" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
				</div>

				<div class='row my-3 p-1'>
					<h4>Paving</h4>
					<p>Once the base has been prepared it's time to put down the asphalt. For this we use a paver. The paver is filled with hot asphalt which is brought to the job site in one of our dump trucks. First the skid steer will drop buckets   We use the paver to smoothly cover the entire surface with asphalt. Workers touch up and clean up the surface as we go along. Once the entire surface has been laid down we roll the asphalt.</p>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/paving1.jpg' %}" alt="skid steer dumping asphalt in paver" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/paving2.jpg' %}" alt="paver doing driveway" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/paving4.jpg' %}" alt="paver with dump truck on driveway" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/rolling-asphalt2.jpg' %}" alt="roller sitting on asphalt riveway" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/paving5.jpg' %}" alt="worker packing asphalt near house" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/rolling-asphalt1.jpg' %}" alt="new asphlat driveway paved" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
				</div>

			</div>
		</div>
		<div class='col-12'>
			<hr>
			<h3>After Care</h3>
			<p>Once your new asphalt driveway is in place, it will require care and maintenance, both while it’s new, and over its lifetime.</p>
			<p>The following is a guide to help you care for your new asphalt over it's curing period of a few months. One of our crew leaders will explain the care procedures to you on installation day. You are also always welcome to call us anytime with questions and concerns.</p>
			<div class='container-fluid'>
				<div class='row my-3 p-1'>
					<h4>First 14 Days</h4>
					<p>New asphalt is most vulnerable during the first 14 days after paving therefore it is critical to take proper care of your new driveway during this time.</p>
					<div class='col-12 p-2'>
					<ul>
						<li>Do not drive on the asphalt for 3 to 5 days after completion.</li>
						<li>Do not park on the asphalt for 14 days.</li>
						<li>It is ok to walk on the new asphalt.</li>
					</ul>
					</div>

					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/asphalt-care1.jpg' %}" alt="caution tape across new asphalt driveway" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/asphalt-care2.jpg' %}" alt="no parking on new asphalt" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/asphalt-care3.png' %}" alt="pylons blocking asphalt driveway" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
				</div>
				<div class='row my-3 p-1'>
					<h4>Next 100 Days +</h4>
					<p>While the first couple of weeks are most important the new ashalpt driveway remains somewhat vulnerable while it cures over next 100 days and the care or lack thereof that your freshly paved driveway is provided can have a lasting effect on the quality of the surface.</p>
					<div class='col-12 p-2'>
					<ul>
						<li>Park in different spots for the first 12 months to avoid creating ruts in your new driveway.</li>
						<li>While the asphalt is curing it will be more susceptible  to becoming very soft during extreme heat. Water the new asphalt on hot days to harden it.</li>
						<li>Keep excessive weight off the asphalt. If parking a camper or boat on the new surface place a piece of plywood under each tire and under the trailer tongue.</li>
						<li>Lawn chairs, barbeques, bicycle and motorcycle kickstands exert weight on concentrated areas and will
						create holes and depressions in your new driveway, especially in hot weather.</li>
						<li>Avoid driving on edges of the asphalt. These are the weakest points and will crack and crumble over time.</li>
						<li>Avoid spilling gasoline, oil, anti-freeze, power steering fluid, transmission fluid etc. These will 	dilute the liquid asphalt in your blacktop. Any holes left by these spills should be filled with cold patch.</li>
						<li>Any hairline cracks that may have developed over the winter due to the contraction and expansion of the ground should be filled with crack filler.
						</li>
						<li>Apply a seal coating one year after the asphalt has been applied
						and then every 2-3 years thereafter. Unprotected driveways remain porous, dry out, become rough, and
						lose their life rapidly. 
						</li>

					</ul>
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/Asphalt-crack-repair1.jpg' %}" alt="driveway crack repair" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/asphalt-sealing1.jpg' %}" alt="asphalt driveway sealing" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/process/clean-driveway.jpg' %}" alt="spraying asphalt driveway with water" style="width: inherit; box-shadow: 5px 5px 20px grey;">
					</div>
				</div>
			</div>
		</div>

		<div class='col-sm-12'>
			<hr>
			<h3>Testimonials</h3>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
					   		<img src= "{% static 'image/paving/glebe-asphalt-driveway-paving.jpg' %}" alt="asphalt driveway paved in the glebe ottawa" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>"The new driveway looks great. Work was completed promptly and to good standards.The job site was left clean and tidy. I would do business with McExcavate again."</p>
							<br> 
							<p><b>- H. Finney, Glebe</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/paving/kanata-asphalt-driveway-paving.jpg' %}" alt="asphalt driveway with interlock border" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>"We were totally impressed with the fantastic job that McExcavate did for us. They were punctual, efficient, knowledgeable and most of all the driveway and interlock look absolutely beautiful.  Many of our neighbours decided to get theirs done as well after seeing our wonderful result.
							Thanks McExcavate."</p>
							<br> 
							<p><b>- M. O'Dell, Kanata</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/paving/manotick-asphalt-driveway-paving.jpg' %}" alt="long asphalt driveway paving in Manotick, Ontario" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>“Great service. The men worked hard and were quick to do it. Driveway looks good. Thank you to Conor and his crew.  Very pleased with the job.”</p>
							<br> 
							<p><b>- J. Song, Manotick</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/paving/nepean-asphalt-driveway-paving.jpg' %}" alt="" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>“We had our driveway done two weeks ago by McExcavate. These guys did a great job. The crew was very nice and courteous. I would recommend.”</p>
							<br> 
							<p><b>- P. Todd, Cumberland</b></p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h3>Our Equipment</h3>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-md-4 p-2'>
						<img src= "{% static 'image/paving/camo-dump-truck.jpg' %}" alt="army green dump truck" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p>Dump Truck</p>
					</div>
					<div class='col-md-4 p-2'>
						
						<img src= "{% static 'image/paving/cat-skid-steer.jpg' %}" alt="caterpiller skid steer" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p>Skid Steer</p>
					</div>
					<div class='col-md-4 p-2'>
						
						<img src= "{% static 'image/paving/cat-paver.jpg' %}" alt="caterpiller asphalt paver" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p>Paver</p>
					</div>
					<div class='col-md-4 p-2'>
						
						<img src= "{% static 'image/paving/cat-roller.jpg' %}" alt="caterpiller asphalt roller" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p>Roller</p>
					</div>
					<div class='col-md-4 p-2'>
						
						<img src= "{% static 'image/paving/wacker-packer.png' %}" alt="wacker neuson deisel plate" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p>Compactors</p>
					</div>
				</div>
			</div>
		</div>

		<div class='col-12 mb-4'>
			<hr>
			<h3>What is Asphalt?</h3>
			 

			<p>"Asphalt cement,<i> black or brown petroleum-like material that has a consistency varying from viscous liquid to glassy solid. It is obtained either as a residue from the distillation of petroleum or from natural deposits. Asphalt consists of compounds of hydrogen and carbon with minor proportions of nitrogen, sulfur, and oxygen."</i> <a href='https://www.britannica.com/science/asphalt-material'>- britannica.com</a> <br>
			<br>
			<p>Hot mix asphalt (HMA) is used to pave roads, parking lots and driveways it "consists of a combination of aggregate uniformly mixed and coated with asphalt cement. To dry the aggregates and to obtain sufficient fluidity of asphalt cement for proper mixing and workability, both the aggregate and asphalt must be heated prior to mixing—hence the term “hot mix.” Aggregates and asphalt are combined in a mixing facility in which all of the constituent materials are heated, proportioned and mixed to produce the desired paving mixture."	<a href='https://mcasphalt.com/processes/hot-mix-asphalt/'>- mcasphalt.com</a></p>
		</div>

		{% if blogs %}
		{% include "related-blogs.html" %}
		{% endif %}

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>


// Change the facebook link in the footer to link to the asphalt page
function changeFaceBookLink(){
	var facebook_link = document.getElementById("facebook_link");
	facebook_link.href="https://www.facebook.com/Asphalt-Driveway-Paving-Ottawa-112110021369939/";
};
changeFaceBookLink()

// change length & width when area is entered in form
function changeLengthWidth(){
	var area = document.getElementById("area").value;
	
	function lengthWidth(area){			
		return Math.sqrt(area);	
	};

	length_width = lengthWidth(area)

	function writeLengthWidth(length_width){
		document.getElementById("length").value = length_width.toFixed(2);
		document.getElementById("width").value = length_width.toFixed(2);
	};

	writeLengthWidth(length_width)
};

// change area when length or width is entered in form
function changeArea(){
	var length = document.getElementById("length").value;
	var width = document.getElementById("width").value;

	function findArea(length, width){
	return length * width
	};

	var area =  findArea(length, width);

	function writeArea(area){
		document.getElementById("area").value = area.toFixed(2);
	};

	writeArea(area);
};

// display price quote when form is submitted
document.getElementById("asphalt_form").addEventListener("submit", function(event){
	event.preventDefault();
	var area = document.getElementById("area").value;
	var pave_type = document.getElementById("pave_type").value;
	var price = 0

	if (pave_type == "Remove old asphalt & pave"){
		if (area < 333){
	    	price = 1998;
	    } else if (area >= 333){
	    	price = area * 6 ;
		}
	} else if (pave_type == "Pave only"){
		if (area < 333){
	    	price = 1998;
	    } else if (area >= 333){
	    	price = area * 4.75 ;
	    }
	}
  	var submit_message = "It would cost aproximately $" + price + " to pave your " + area + " square foot driveway. \nThank you for using our pricing calculator. \nWe have emailed you a copy of your price quote."
  	window.confirm(submit_message);
  	document.getElementById("asphalt_form").submit();
});

</script>
{% endblock javascript %}
