<!DOCTYPE html>
<html lang="en">

<!--- Head -->
<head>
	<!--- SEO Meta Tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{ meta_description }}" />
  <meta name="keywords" content="{{ meta_keywords }}" />
  <meta name="robots" content="{{ meta_robots}}" />
	<!-- Open Graph Tags -->
	<meta property="og:title" content="{{ meta_title }}" />
  <meta property="og:description" content="{{ meta_description|truncatewords_html:10}}" />
  <meta property="og:image" content="{{ og_image }}" /> 
  <meta property="og:url" content="{{ canonical }}" />
  <meta property="og:type" content="{{ og_type }}" />
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="mcexcavate.com">
  <meta property="twitter:url" content="{{ canonical }}">
  <meta name="twitter:title" content="{{ meta_title }}">
  <meta name="twitter:description" content="{{ meta_description|truncatewords_html:10}}">
  <meta name="twitter:image" content="{{ og_image }}">

	
	{% load static %}
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'image/favicon/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'image/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
	<!--- CSS File Link -->
	<link href="{% static 'css/blog.css' %}" rel="stylesheet">
	<link href="{% static 'css/footer.css' %}" rel="stylesheet">
	<link href="{% static 'css/gallery.css' %}" rel="stylesheet">
	<link href="{% static 'css/nav.css' %}" rel="stylesheet">
	<link href="{% static 'css/concrete.css' %}" rel="stylesheet">
	<link href="{% static 'css/service.css' %}" rel="stylesheet">
	<link href="{% static 'css/home.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/bollards.css' %}" rel="stylesheet">
	<!--- Bootsrtap CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	
	<!-- Google Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Canonical -->
	<link rel="canonical" href="{{ canonical }}"/>
	<!-- Title -->
	<title>{% block title %} {{ meta_title }} {% endblock %}</title>
</head>
<body>
	
	<div class='main-wrap'>
	{% include 'navbar.html' %}
	{% block content %}
	{% endblock content %}
	</div>

	<!--- j Query -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!--- Javascript -->
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/nav.js' %}"></script>
	<script src="{% static 'js/concrete.js' %}"></script>
	<script src="{% static 'js/bollard.js' %}"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-93F2XHCSDJ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-93F2XHCSDJ');
	</script>
	<!-- ReCaptcha -->
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<!--- Bootsrtap JS -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/17fca1d543.js" crossorigin="anonymous"></script>
	

</body>
<footer>
{% include 'footer.html' %}
</footer>

{% block javascript %}
{% endblock javascript %}

</html>
