{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row'>
		<div class='col-lg-6 '>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row'>
						<h1 class='mb-4' style='font-size:28px;'>OTTAWA BOLLARDS</h1>
						<p class='service_top_row_p mb-4'>We supply and install a variety of bollards such as; fixed, removable, automatic rising, semi-automatic rising, and manual rising.</p>
						<img src= "{% static 'image/slabs/fuel_tank_slab.jpg' %}" alt="bollards surrounding a concrete slab">
						<p class='service_img_caption_black'>Steel bollards with yellow safetey covers.</p>
						<img class='' src= "{% static 'image/bollards/driveway_bollards_two_houses.jpg' %}" alt="manual retractable bollards in-front of residential home">
						<p class='service_img_caption_black'>Manual retractable residential bollards.</p>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>
		<div class='col-12 mt-4'>
			<p>Learn more about the different bollards we supply.</p>
			<div class='bollard_box'>
				<div class='container'>
					<div class='row bollard_row'>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Steel-Bollards-Prime-Painted-Steel.jpg' %}" alt="bundle of steel tubing used for making bollards">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Steel Bollards</p>
							<p class='bollard_content_p'>High quality domestic steel bollards. Filled with concrete and finished with bollard cover.</p>
							<div class='hidden_bollard_content'>
								<ul>
								<li>Cut to any length</li>
								<li>Prime painted or galvanized finish</li>
								<li>ASTM 500 B structural grade steel</li>
								<li>Variety of diameters and thicknesses</li>
								<li>Available in 4", 6", 8", and 10" diameter.</li>
								</ul>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Post Guard 4in Yellow-Red-228x228.jpg' %}" alt="safety yellow bollard cover">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Bollard Covers</p>
							<p class='bollard_content_p'>Stop painting your bollards! Whether you call them bollard covers, post sleeves, or post covers they are the perfect solution - no flaking or cracking paint.</p>
							<div class='hidden_bollard_content'>
								<ul>
								<li>Fade Resistant</li>
								<li>High Density Polyethylene (HDPE) with stronger intermolecular forces, tensile strength, and solvent resistance</li>
								<li>Two recessed reflective stripes - increased visibility and safety</li>
								<li>Variety of colours available</li>
								<li>Available in 4.5", 7", 8-7/8", and 10-7/8" diameter.</li>
								</ul>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Bollared-in-a-Box-top.jpg' %}" alt="Automatic Rising Bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Automatic Rising Bollard - BOLLARD IN A BOX</p>
							<p class='bollard_content_p'>BOLLARD IN A BOX is an automatic bollard designed primarily for residential projects. With a simple installation process and a small footprint, it is the ideal solution for securing your vehicles and protecting your assets. It is constructed using 304 stainless steel and developed for medium frequency use (100 cycles per day). The Bollard In A Box is a robust, corrosion resistant security measure designed to prevent vehicle theft.</p>
							<div class='hidden_bollard_content'>
								<p></p>
								<a href="{% static 'image/bollards/pdfs/BOLLARD-IN-A-BOX-Spec-Sheet-07.19.2023.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<hr>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Manual-Retractable-RT4536SS.jpg' %}" alt="Manual Retractable Bollard - RT4536SS">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Manual Retractable - RT4536SS</p>
							<p class='bollard_content_p'>Manual retractable bollards are a simple and effective perimeter security solution. Great for driveways, parking lots, streets, and storefronts. These bollards from Annt are created using high-grade 316 stainless steel offered in a range of finishes.</p>
						  <div class='hidden_bollard_content'>
								<p>
								The 4536RM Stainless Steel Removable Bollard features internal locking hardware for quick and easy access to restricted areas. Elevated key-access avoids collection of dirt and debris in dusty, particle-filled environments. Its clean and versatile design is highly visible and available with alternative mountings (see retractable and fixed models) for consistent aesthetics that suit any modern building or landscape. High-quality 316 grade stainless steel with #6 satin finish features high resistance to corrosion and weathering. Posts ship standard with 1 of 4 colored reflector stripes and include mounting covers to prevent tripping hazards and collection of debris.<br>
								<br>
								EASY ACCESS CONTROL<br>
								Manual retractable bollards are perfect for controlling access in driveways, parking lots, streets, and storefronts. They have a simple mechanism that lets you raise and lower them by hand. When unlocked, you can pull the bollard up or push it down as needed. This keeps the area secure without needing any electricity. These manual bollards are both convenient and cost-effective.
								<br>
								<br>
								HIGH-QUALITY 316 STAINLESS STEEL<br>
								Made from 316 grade stainless steel, these bollards resist rust even in tough outdoor places like coastal cities or areas that use de-icing chemicals. This strong material lasts a long time. To make them even better, the bollards can be powder-coated for extra protection, better looks, or higher visibility.
								<br>
								<br>
								INSTALLATION AND MAINTENANCE<br>
								Proper installation and maintenance are crucial for the long life of manual retractable bollards. The bases must be firmly set into the ground to hold the bollard body. Regular maintenance, like cleaning and oiling the moving parts and clearing out any debris from the bases, is needed for them to work well.
								<br>
								<br>
								DRAINAGE<br>
								Proper drainage is very important for retractable bollards to work well for a long time. Water collecting in the bases can cause them to wear out faster and even rust, which can damage their look and how they work. In freezing temperatures, water can freeze and cause big problems.
							  </p>
					    </div>

							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<hr>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/FX4536SS.jpg' %}" alt="Stainless Steel Fixed Bollard - FX4536SS">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Stainless Steel Fixed Bollard - FX4536SS</p>
							<p class='bollard_content_p'>The OB4536FX Stainless Steel Bollard can be embedded in concrete for simple and secure installations. its clean and versatile design is highly visible and available with alternative mountings (see retractable and removable models) for consistent aesthetics that suit any modern building or landscape. High-quality 316 grade stainless steel with #6 satin finish features high resistance to corrosion and weathering. Posts ship standard with 1 of 4 colored reflector stripes.</p>
							<div class='hidden_bollard_content'>
								<p></p>
								<a href="{% static 'image/bollards/pdfs/FX4536SS-FX4536PC.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/RM4536SS.jpg' %}" alt="Stainless Steel Removable Bollard - RM4536SS">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Stainless Steel Removable Bollard - RM4536SS</p>
							<p class='bollard_content_p'>The 4536RM Stainless Steel Removable Bollard features internal locking hardware for quick and easy access to restricted areas. Elevated key-access avoids collection of dirt and debris in dusty, particle-filled environments.</p>
							<div class='hidden_bollard_content'>
								<p>Its clean and versatile design is highly visible and available with alternative mountings (see retractable and fixed models) for consistent aesthetics that suit any modern building or landscape. High-quality 316 grade stainless steel with #6 satin finish features high resistance to corrosion and weathering. Posts ship standard with 1 of 4 colored reflector stripes and include mounting covers to prevent tripping hazards and collection of debris.</p>
								<a href="{% static 'image/bollards/pdfs/RM4536SS-RM4536PC.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/BD4536SS.jpg' %}" alt="Stainless Steel Bolt-Down Bollard - BD4536SS">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>Stainless Steel Bolt-Down Bollard - BD4536SS</p>
							<p class='bollard_content_p'>The OB4536BD Stainless Steel Bollard can be bolted down into concrete slab for simple and secure installations.</p>
							<div class='hidden_bollard_content'>
								<p>Its clean and versatile design is highly visible and available with alternative mountings (see embedded, retractable and removable models) for consistent aesthetics that suit any modern building or landscape. High-quality 316 grade stainless steel with #6 satin finish features high resistance to corrosion and weathering. Posts ship standard with 1 of 4 colored reflector stripes.</p>
								<a href="{% static 'image/bollards/pdfs/BD4536SS-BD4536PC.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Automatic-AE275-600-480x480.jpg' %}" alt="Annt 275/EM 600A automatic electromechanical bollards">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>AE275-600</p>
							<p class='bollard_content_p'>Annt 275/EM 600A are automatic electromechanical bollards designed by the Annt staff, who have worked in the the retractable technologies industry for more than 20 years.</p>
							<div class='hidden_bollard_content'>
								<p>The 275/EM 600A bollard is recommended for use in pedestrian areas, private parkings, business parkings, private driveways, business driveways, commercial driveways. The 275/EM 600A is available with a large number of optional accessories that allow you to customize your system according to your security needs.</p>
								<a href="{% static 'image/bollards/pdfs/AE275-600-AE275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Automatic-AE275-800-480x480.jpg' %}" alt="Annt 275/EM 800A automatic electromechanical bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>AE275-800</p>
							<p class='bollard_content_p'>Annt 275/EM 800A are automatic electromechanical bollards designed by the Annt staff, who have worked in the the retractable technologies industry since more than 20 years.</p>
							<div class='hidden_bollard_content'>
								<p>The 275/EM 800A bollard is recommended for use in pedestrian areas, private parking, business parking, private driveways, commercial driveways. The 275/EM 600A is available with a large number of optional accessories that allow you to customize your system according to your security needs.</p>
								<a href="{% static 'image/bollards/pdfs/AE275-600-AE275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Automatic-Anti-Terrorism-AE275-K4-900.jpg' %}" alt="275/K4EMB 900A automatic electromechanical bollards">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>AE275/K4-900</p>
							<p class='bollard_content_p'>The 275/K4EMB 900A automatic electromechanical bollards have been designed to ensure anti-terrorist defense. Current models are the result of our 40 years’experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards.</p>
							<div class='hidden_bollard_cont ent'>
								<p>The 275/K4EMB 900A bollard is recommended for use in any security sensitive sites like company driveways, industrial driveways, research centers, embassies, police facilities, military bases, etc.. The 275/K4EMB 900A is available with a large number of optional accessories that allow you to customize your system according to your security needs.</p>
								<a href="{% static 'image/bollards/pdfs/AE275K4-900-AE275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Automatic 275 M301200.jpg' %}" alt="AE275/M30-1200 automatic electromechanical bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>AE275/M30-1200</p>
							<p class='bollard_content_p'>The AE275/M30-1200 automatic electromechanical bollards have been designed to ensure anti-terrorist defense. Current models are the result of our 40 years’experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards.</p>
							<div class='hidden_bollard_content'>
								<p>The AE275/M30-1200 bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centers, embassies, police facilities, military bases, etc.. AE275/M30-1200 is available with a large number of optional accessories that allow you to customize your system according to your security needs.</p>
								<a href="{% static 'image/bollards/pdfs/AE275K4-900-AE275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Automatic-Anti-Terrorism-AE275-K12-900.jpg' %}" alt="275/K12EMB 900A automatic bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>AE275/K12-900</p>
							<p class='bollard_content_p'>The 275/K12EMB 900A automatic bollards have been designed to ensure the anti-terrorist defense. Current models are the result of our 40 years’ experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards.</p>
							<div class='hidden_bollard_content'>
								<p>The 275/K12EMB 900A bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centers, embassies, police facilities, military bases, etc..<br>The 275/K12EMB 900A is available with a large number of optional accessories that allow you to customize your system according to your security needs.</p>
								<a href="{% static 'image/bollards/pdfs/AE275K12-900-AE275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Automatic-Anti-Terrorism-AE275-M50-1200.jpg' %}" alt="275/K12EMB 900A automatic bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>AE275/M50-1200</p>
							<p class='bollard_content_p'>The 275/K12EMB 900A automatic bollards have been designed to ensure the anti-terrorist defense. Current models are the result of our 40 years’ experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards.</p>
							<div class='hidden_bollard_content'>
								<p>The 275/K12EMB 900A bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centers, embassies, police facilities, military bases, etc..<br>The 275/K12EMB 900A is available with a large number of optional accessories that allow you to customize your system according to your security needs.</p>
								<a href="{% static 'image/bollards/pdfs/AE275K12-900-AE275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/FXSF275K12-9001200.jpg' %}" alt="fixed 275/K12SF bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FXSF275K12 9001200</p>
							<p class='bollard_content_p'>The fixed 275/K12SF bollards have been designed and built for installations with shallow mounted requirements or in presence of underground utilities. The “SF” (shallow foundation) acronym identifies the slimmest laying depth of the entire range.</p>
							<div class='hidden_bollard_content'>
								<p></p>
								<a href="{% static 'image/bollards/pdfs/FXSF275K12-9001200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/FXSF275K4-900-600x600.png' %}" alt="fixed 275/K4SF 900F bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FXSF275K4 900</p>
							<p class='bollard_content_p'>The fixed 275/K4SF 900F bollards have been designed and built for installations with shallow mounted requirements or in presence of underground utilities.</p>
							<div class='hidden_bollard_content'>
								<p>The “SF” (shallow foundation) acronym identifies the slimmest laying depth of the entire range. Current models are the result of our 40 years’ experience in the security field and in excess of 20 years in the specific design and manufacture of bollards.</p>
								<a href="{% static 'image/bollards/pdfs/FXSF275K4-900.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Fixed-Anti-Terrorism-FX150-C40-900.jpg' %}" alt="FX150/C40-900 bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FX150/C40-900</p>
							<p class='bollard_content_p'>ASTM standard test method for perimeter barriers designates C40 as the rating for a barrier that stops a 1,100 kg vehicle moving at 64 Km/h. It is tested with a compact-car equivalent test vehicle.</p>
							<div class='hidden_bollard_content'>
								<p>Many parking lots have curbs, speed bumps, or parking stops and are generally busy. In these conditions, the average vehicle speed is slow. The installation of C40 bollards, will generally be enough to stop accidents caused by driver inattention, medical issue, or pedal confusion. Similarly, provided that there are very few straight segments where a car can pick up speed, and if the area is inaccessible to large vehicles, then the C40 bollards can be used to protect store front against driver error or intentional ram raid. ännTTM C40 bollards are tested and certified to ASTM F2656-20 standards and have achieved a SC40-P1 certification.<br>Annt C40 bollards are proudly designed, engineered and manufactured in Canada.</p>
								<a href="{% static 'image/bollards/pdfs/FX150C40-900..pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/FB275-K4-900.jpg' %}" alt="fixed ännt 275/K4FB 900F bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FB275/K4-900</p>
							<p class='bollard_content_p'>The fixed ännt 275/K4FB 900F has been designed and built with architectural appearance similar ot that of the retractable annt and therefore also allows the combined use of both versions.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years’ experience in the security field and in excess of 20 years in the specific design and manufacture of bollards.<br><br>GENERAL FEATURES<br>
								The fixed anti-terrorism bollards are used to separate and prevent vehicles from breaching the perimeter of the following areas: Research Centres, Embassies, Police Headquarters, Military Bases, Ministerial Buildings Sites in Sensitive Areas. These items are designed to ensure anti-terrorism defence, and must be cemented into the ground at a depth that meets the standards of breakout resistance.
								</p>
								<a href="{% static 'image/bollards/pdfs/FB275K4-900-FB275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Fixed-Anti-Terrorism-FB275-M30-1000-480x480.jpg' %}" alt="fixed 275/M50-1000 bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FB275/M30-1000</p>
							<p class='bollard_content_p'>Proudly designed, engineered and manufactured in Canada, the fixed 275/M50-1000 bollard conforms to the ASTM F2656-P1 standard. Designed for deep embedment (1200mm) in climates which experience frost heaving during transition seasons.</p>
							<div class='hidden_bollard_content'>
								<p></p>
								<a href="{% static 'image/bollards/pdfs/FB275M30-1000.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Fixed-Anti-Terrorism-FB275-K12-900.jpg' %}" alt="fixed 275/K12FB 900F bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FB275/K12-900</p>
							<p class='bollard_content_p'>The fixed 275/K12FB 900F have been designed and built with architectural appearance similar to that of the retractable bollard and therefore also allows the combined use of both versions.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years’ experience in the security field and in excess of 20 years in the specific design and manufacture of bollards.<br><br>GENERAL FEATURES<br>
								The fixed anti-terrorism bollards are used to separate and prevent vehicles from breaching the perimeter of the following areas: Research Centers Embassies, Police Headquarters, Military Bases, Ministerial Buildings Sites in Sensitive Areas. These items are designed to ensure anti-terrorism defense, and must be cemented into the ground at a depth that meets the standards of breakout resistance.
								</p>
								<a href="{% static 'image/bollards/pdfs/FB275K12-900-FB275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Fixed-Anti-Terrorism-FB275-M50-1000-480x480.jpg' %}" alt="fixed 275/M50-1000 bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>FB275/M50-1000</p>
							<p class='bollard_content_p'>Proudly designed, engineered and manufactured in Canada, the fixed 275/M50-1000 bollard conforms to the ASTM F2656-P1 standard. Designed for deep embedment (1200mm) in climates which experience frost heaving during transition seasons.</p>
							<div class='hidden_bollard_content'>
								<p></p>
								<a href="{% static 'image/bollards/pdfs/FB275M50-1000.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/RM275-600.jpg' %}" alt="removable bollard 275/RM 600 ">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM275-600</p>
							<p class='bollard_content_p'>The removable bollard 275/RM 600 are typically used to prevent the parking of unauthorized vehicles, transit and access by unauthorized vehicles in driveways, and protection of shatter-proof windows.</p>
							<div class='hidden_bollard_content'>
								<p>Because of the procedure of parking, it is advised that the removable bollard be used only if the amount of daily movements is limited (if not, the automatic bollard should be used) or when the depth of installation does not allow for the installation of the automatic bollard.
								</p>
								<a href="{% static 'image/bollards/pdfs/RM275-600-RM275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/RM275-800.jpg' %}" alt="removable bollard 275/RM 800">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM275-800</p>
							<p class='bollard_content_p'>The removable bollard 275/RM 800 are typically used to prevent the parking of unauthorized vehicles, transit and access by unauthorized vehicles in driveways, and protection of shatter-proof windows.</p>
							<div class='hidden_bollard_content'>
								<p>Because of the procedure of parking, it is advised that the removable bollard be used only if the amount of daily movements is limited (if not, the automatic bollard should be used or when the depth of installation does not allow for the installation of the automatic bollard.
								</p>
								<a href="{% static 'image/bollards/pdfs/RM275-600-RM275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Removable-Anti-Terrorism-RM150-C40-900-600x534.png' %}" alt="fixed 150/C40RM 900 bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM150/C40-900</p>
							<p class='bollard_content_p'>Proudly designed, engineered and manufactured in Canada, the fixed 150/C40RM 900 bollard exceeds the ASTM F2656-P1 standard and has been awarded a SC40-P1 certification.</p>
							<div class='hidden_bollard_content'>
								<p></p>
								<a href="{% static 'image/bollards/pdfs/RM150C40-900..pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Removable-Anti-Terrorism-RM275-K4-900.jpg' %}" alt="removable bollard 275/K4RM 900">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM275/K4-900</p>
							<p class='bollard_content_p'>The removable bollard 275/K4RM 900 are typically used to prevent the parking, transit and access of unauthorized vehicles in sensitive sites.</p>
							<div class='hidden_bollard_content'>
								<p>It is advised that the removable bollard is used only if the amount of daily movements is limited (if not, the automatic version should be used or when the depth of installation does not allow for the installation of the automatic bollards.
								</p>
								<a href="{% static 'image/bollards/pdfs/RM275K4-900-RM275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Removable-Anti-Terrorism-RM275-M30-1200.jpg' %}" alt="removable bollard RM275/M30-1200">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM275/M30-1200</p>
							<p class='bollard_content_p'>The removable bollard RM275/M30-1200 are typically used to prevent the parking, transit and access of unauthorized vehicles in sensitive sites.</p>
							<div class='hidden_bollard_content'>
								<p>It is advised that the removable bollard is used only if the amount of daily movements is limited (if not, the automatic version should be used) or when the depth of installation does not allow for the installation of the automatic bollards.
								</p>
								<a href="{% static 'image/bollards/pdfs/RM275K4-900-RM275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Removable-Anti-Terrorism-RM275-K12-900.jpg' %}" alt="removable bollard 275/K12RM 900">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM275/K12-900</p>
							<p class='bollard_content_p'>The removable bollard 275/K12RM 900 are typically used to prevent the parking, transit and access of unauthorized vehicles in sensible sites.</p>
							<div class='hidden_bollard_content'>
								<p> It is advised that the removable bollard is used only if the amount of daily movements is limited (if not, the automatic version should be used) or when the depth of installation does not allow for the installation of the automatic bollards.
								</p>
								<a href="{% static 'image/bollards/pdfs/RM275K12-900-RM275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Removable-Anti-Terrorism-RM275-M50-1200.jpg' %}" alt="removable bollard 275/K12RM 900">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>RM275/M50-1200</p>
							<p class='bollard_content_p'>The removable bollard 275/K12RM 900 are typically used to prevent the parking, transit and access of unauthorized vehicles in sensible sites.</p>
							<div class='hidden_bollard_content'>
								<p>It is advised that the removable bollard is used only if the amount of daily movements is limited (if not, the automatic version should be used) or when the depth of installation does not allow for the installation of the automatic bollards.
								</p>
								<a href="{% static 'image/bollards/pdfs/RM275K12-900-RM275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-SA275-500.jpg' %}" alt="semiautomatic bollard 275/PL XXXSA">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275-500</p>
							<p class='bollard_content_p'>The semiautomatic bollard 275/PL XXXSA with single gas actuator is designed and built with architectural appearance similar to that of the automatic and fixed bollards and therefore also allows the combined use of both versions.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years experience in the security field and in excess of 20 years in the specific design and manufacture of bollards.<br><br>GENERAL FEATURES<br>
								The Semiautomatic bollards are used to define or prevent the stationing or transit of vehicles in pedestrian or private areas. Because of the procedure of parking, it is advised that the semi-automatic bollards be used only if the amount of daily movements is limited.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275-500-SA275-600-SA275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-SA275-600.jpg' %}" alt="semiautomatic bollard 275/PL">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275-600</p>
							<p class='bollard_content_p'>The semiautomatic bollard 275/PL xxxSA with single gas actuator is designed and built with architectural appearance similar to that of the automatic and fixed bollards and therefore also allows the combined use of both versions.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years experience in the security field and in excess of 20 years in the specific design and manufacture of bollards.<br><br>GENERAL FEATURES<br>
								The Semiautomatic bollards are used to define or prevent the stationing or transit of vehicles in pedestrian or private areas. Because of the procedure of parking, it is advised that the semi-automatic bollards be used only if the amount of daily movements is limited.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275-500-SA275-600-SA275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-SA275-800.jpg' %}" alt="semiautomatic bollard 275/PL">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275-800</p>
							<p class='bollard_content_p'>The semiautomatic bollard 275/PL xxxSA with single gas actuator is designed and built with architectural appearance similar to that of the automatic and fixed bollards and therefore also allows the combined use of both versions.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years experience in the security field and in excess of 20 years in the specific design and manufacture of bollards.<br><br>GENERAL FEATURES<br>
								The Semiautomatic bollards are used to define or prevent the stationing or transit of vehicles in pedestrian or private areas. Because of the procedure of parking, it is advised that the semi-automatic bollards be used only if the amount of daily movements is limited.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275-500-SA275-600-SA275-800.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-Anti-Terrorism-SA275-K4-900.jpg' %}" alt="275/K4 900SA semiautomatic bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275/K4-900</p>
							<p class='bollard_content_p'>The 275/K4 900SA semiautomatic bollards have been designed to ensure anti-terrorist protection.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years’experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards. The installation of the 275/K4 900SA bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centres, embassies, police facilities, military bases.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275K4-900-SA275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-Anti-Terrorism-SA275-M30-1200.jpg' %}" alt="SA275/M30-1200 semiautomatic bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275/M30-1200</p>
							<p class='bollard_content_p'>The SA275/M30-1200 semiautomatic bollards have been designed to ensure anti-terrorist protection.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years’experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards. The installation of the 275/K4 900SA bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centres, embassies, police facilities, military bases.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275K4-900-SA275M30-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-Anti-Terrorism-SA275-K12-900.jpg' %}" alt="275/K12 900SA semiautomatic bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275/K12-900</p>
							<p class='bollard_content_p'>The 275/K12 900SA semiautomatic bollards have been designed to ensure anti-terrorist protection.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years’experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards. The installation of the 275/K12 900SA bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centres, embassies, police facilities, military bases.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275K12-900-SA275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
						<div class='col-12'>
							<hr>
						</div>
						<div class='bollard_image_col'>
							<img src= "{% static 'image/bollards/Semi-Automatic-Anti-Terrorism-SA275-M50-1200.jpg' %}" alt="SA275/M50-1200 semiautomatic bollard">
						</div>
						<div class='bollard_content_col'>
							<p class='bollard_content_title'>SA275/M50-1200</p>
							<p class='bollard_content_p'>The SA275/M50-1200 semiautomatic bollards have been designed to ensure anti-terrorist protection.</p>
							<div class='hidden_bollard_content'>
								<p>Current models are the result of our 40 years’experience in the security field and in excess of 20 years in the specific design and manufacture of automatic bollards. The installation of the 275/K12 900SA bollard is recommended for use in any security sensitive site like company driveways, industrial driveways, research centres, embassies, police facilities, military bases.
								</p>
								<a href="{% static 'image/bollards/pdfs/SA275K12-900-SA275M50-1200.pdf' %}" target=".">
						   		<p class='pt-2'>Download Spec Sheet <img style='height:20px;' src= "{% static 'image/icons/file-pdf-regular.svg' %}" alt="bollard in residential driveway"></i></p>
						   	</a>
					    </div>
							<p class='bollard_see_more'>See More...</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>
// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Bollards"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}
