{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row mb-3'>
		<div class= "top-banner">
			<div class='row mb-3'>
				<div class='col-sm'>
					<h1 class='m-0' style='font-size:28px;'>ASSET PROTECTION BOLLARDS</h1>
				</div>
			</div>
		</div>
		<div class='col-sm-12 p-0'>
			<div class='container-fluid'>
				<div class='row mb-3'>
					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<h2>Residential Bollards</h2>
							<img class='my-3' src= "{% static 'image/bollards/driveway_bollards_two_houses.jpg' %}" alt="large komatsu excavator along road side ottawa" style="width: inherit; box-shadow:5px 5px 10px grey;">
							<p style="font-size: 20px; font-weight: bold;" class="my-3">The Best Way to Protect Your Vehicles</p>
							<ul class='excavation_list'>
								<li>Automatic Retractable Bollards</li>
								<li>Manual Retractable Bollards</li>
								<li>Certified & Engineered</li>
								<li>Small Footprint</li>
								<li>Theft Deterrent</li>
							</ul>
							<a href='/bollards/#residential'><button class="btn btn-warning my-2">Learn More...</button></a>
						</div>
					</div>
					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<h2>Commercial Bollards</h2>
							<img class='my-3' src= "{% static 'image/bollards/Government-scaled.jpg' %}" alt="john deere bulldozer grading ottawa" style="width: inherit; box-shadow:5px 5px 10px grey;">
							<p style="font-size: 20px; font-weight: bold;" class="my-3">High-Impact Strength Perimeter Security</p>
							<ul class='excavation_list'>
								<li>Protect Against Hostile Vehicle Intrusion</li>
								<li>Fixed</li>
								<li>Removable</li>
								<li>Semi-Automatic</li>
								<li>Automatic</li>
							</ul>
							<a href='/bollards/#commercial'><button class="btn btn-warning my-2">Learn More...</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='container'>
	<div class='row mb-5'>
		<div class='col-12 service_top_row p-2'>


			<h2 style='color:black;' class='mb-3' id="residential">Residential Bollards</h2>
			<p class='pl-3 pr-4 mb-3'>Driveway Bollards – a cutting-edge range of stainless steel bollards, engineered and developed for residential protection.</p>
			<div class='row pr-4 pl-4'>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/auto_bollard5.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Automatic Rising Bollard</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/man_bollard10.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Manual Rising Bollard</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Stainless Steel Fixed Bollard.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Stainless Steel Fixed Bollard</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Stainless Steel Removable Bollard.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Stainless Steel Removable Bollard</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Stainless Steel Bolt-Down Bollard.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Stainless Steel Bolt-Down Bollard</p>
					</div>
				</div>
			</div>
			<a href='/bollards/#bollard_quote'><button class="btn btn-warning mt-4 mb-2 ml-3">Request a Free Quote!</button></a>


			<h2 style='color:black;' class='mt-5 mb-3' id='commercial'>Commercial Bollards</h2>
			<p class='row pr-4 pl-3 mb-3'>Anti-Terrorism Bollards, with crash ratings ranging from K4 (15,000 lb vehicle at 30 mph) to K12 (50 mph), offer high-impact strength perimeter security for various threats. Suitable for commercial, industrial, government, and private sites, these bollards come in Fixed, Removable, Semi-Automatic and Automatic variants to protect against hostile vehicle intrusion.</p>
			<div class='row pr-4 pl-4'>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Automatic 275 M301200.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Automatic 275 M301200</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Semi-Automatic-275K4 900SA.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Semi-Automatic-275K4 900SA</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Fixed 275-K12-900.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Fixed 275-K12-900</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/fixed 275M50-1000.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Fixed 275M50-1000</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/Fixed 275-K12-900.jpg' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Fixed 275-K12-900</p>
					</div>
				</div>
				<div class='col-lg-4 col-md-6 p-2'>
					<img src= "{% static 'image/bollards/fixed 150C40RM 900.png' %}" alt="bollard in residential driveway">
					<div style='background-color:black; height:50px'>
						<p style='color:white; font-size:18px; font-weight:bold;' class='pl-3 pt-2'>Fixed 150C40RM 900</p>
					</div>
				</div>
			</div>
			<a href='/bollards/#bollard_quote'><button class="btn btn-warning mt-4 mb-2 ml-3">Request a Free Quote!</button></a>
		</div>

		<div class='col-12 service_top_row mt-5' id="bollard_quote">
			{% include "services_contact_form.html" %}
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>
// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Bollards"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}
