{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% include "breadcrumbs.html" %}
{% load static %}

<div class='container'>
	<div class='row careers_row'>

		<div class='careers_col'>
			<h2>Careers With Crusader</h2>
			<hr>
			<h3>DZ Drivers</h3>
			<p>We are currently looking to hire DZ/AZ drivers.</p>
			<h3>Concrete Finishers</h3>
			<p>We are currently looking to hire concrete finishers.</p>
			<h3>Labourers</h3>
			<p>We are currently looking to hire labourers.</p>
		</div>
		
	</div>
</div>


{% endblock %}