{% extends "base.html" %}
<head>
<link rel="canonical" href="http://mcexcavate.com/concrete/"/>
</head>
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<div class='container-fluid p-0'>
	<div class='row service_hero'>
		<div class='container'>
			<div class='row'>
				<div class='col-lg-6 service_hero_col'>
					<div class='container-fluid'>
						<div class='row'>
							<div class='col-12'>
								<h1>{{title}}</h1>
								<div class="row service_hero_text">
									<div class='col-12'>
										<p class='service_hero_col_p'>Hire us for your stamped concrete project because we have the expertise to make sure your project is completed correctly and will stand the test of time.</p>
										<p class='service_hero_col_bullets'>• Driveways</p>
										<p class='service_hero_col_bullets'>• Patios</p>
										<p class='service_hero_col_bullets'>• Walkways</p>
										<p class='service_hero_col_bullets'>• Pool Surrounds</p>
										<p class='service_hero_col_bullets'>• Steps</p>
									</div>
								</div>
								<img src= "{% static 'image/stamped-concrete/stamped-concrete-patio-grey.jpg' %}" 
								     alt="ottawa stamped conrete back patio in grey ashlar slate">
								<p class='service_hero_col_img_caption'>Stamped concrete back patio in Rothwell Heights.</p>
							</div>
						</div>
					</div>
				</div>
				<div class='col-lg-6 service_hero_col'>
					{% include "services_contact_form.html" %}
				</div>
			</div>
		</div>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-12'>
			<h2 style='color:black;' class="pt-5">What is Stamped Concrete?</h2>
			<div class='container-fluid'>
				<div class='row mt-4 mb-3'>
					<div class='col-md-12 mb-2'>
						<p>Stamped concrete is concrete that has been textured, patterned or imprinted to resemble brick, interlock, slate, flagstone, stone, or even wood. This stamped look is created by placing heavy stamps into concrete while it is still wet. Stamped concrete is often coloured and with an integral colour added to the concrete mix and a secondary colour added after pouring that helps highlight the textures and patterns. The wide variety of patterns and colour choices make it popular for beautifying patios, pool decks, driveways, walkways and more. Additionally, it is often more affordable, longer lasting, and requires less maintenance than other materials</p>
					</div>
					<br>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Stamp Patterns</h2>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
					   		<img src= "{% static 'image/stamped-concrete/Ashlar Slate.jpg' %}" alt="stamped concrete patio wood stamp">
							<br> 
							<p><b>Ashlar Slate</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Imperial Ashlar Slate.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Imperial Ashlar Slate</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Centenial Park.jpg' %}" alt="stamped concrete pool deck ottawa">
							<br> 
							<p><b>Centenial Park</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/QuaryStone.jpg' %}" alt="stamped concrete walkway and steps">
							<br> 
							<p><b>Quary Stone</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Sandstone.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Sandstone</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Random Stone.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Random Stone</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Slate.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Slate</b></p>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<div class='container-fluid'>
				<div class='row'>
					<h2 style='color:black;' class="py-3">Concrete Colour Options</h2>
				</div>
				<div class='row'>
					<div class='col-md-8 p-2'>
						<h3 class="mb-3">Integral Colours</h3>
					   	<img src= "{% static 'image/stamped-concrete/interstar-conrete-colour-options.jpg' %}"
					   	     alt="Integral Colour Options" 
					   	     style="width:inherit; box-shadow:5px 5px 20px grey;" 
					   	     id="integralcolour"
					   	     class='colouroptions'>
					   	<a href="{% static 'image/stamped-concrete/mcexcavate-Integral-concrete-colors.pdf' %}" target="."><p class='pt-2 pb-4'>Download PDF<img src="{% static 'image/icons/pdf-download.svg' %}" class="pdf_dl" alt="pdf download icon"></p></a>
					</div>
					<div class='col-md-4 p-2'>
						<h3 class='mb-3'>Accent Colours</h3>
					   	<img src= "{% static 'image/stamped-concrete/concrete-stamping release_colours.jpg' %}"
					   		 alt="Accent Colour Options" 
					   		 style="width:inherit; box-shadow:5px 5px 20px grey;" 
					   		 id='accentcolour'
					   		 class="colouroptions">
					   	<a href="{% static 'image/stamped-concrete/mcexcavate-stamping-release-colours.pdf' %}" target="."><p class='pt-2 pb-4'>Download PDF<img src="{% static 'image/icons/pdf-download.svg' %}" class="pdf_dl" alt="pdf download icon"></p></a>
					</div>
				</div>
			</div>
		</div>

		<!-- Integral Modal -->
		<div id="ColourModal" class="modal">

		  <!-- The Close Button -->
		  <span class="close" id="close1">&times;</span>

		  <!-- Modal Content (The Image) -->
		  <img src= "{% static 'image/stamped-concrete/interstar-conrete-colour-options.jpg' %}" 
		   	   alt="Integral Colour Options" 
		   	   style="width:inherit; box-shadow:5px 5px 20px grey;" 
		   	   class="modal-content"
		   	   id="integralcolour2">

		  <!-- Modal Caption (Image Text) -->
		  <div id="modal_caption"></div>

		</div>

		<!-- Accent Modal -->
		<div id="ColourModal2" class="modal">

		  <!-- The Close Button -->
		  <span class="close" id='close2'>&times;</span>

		  <!-- Modal Content (The Image) -->
		  <img src= "{% static 'image/stamped-concrete/concrete-stamping release_colours.jpg' %}" 
		   	   alt="Accent Colour Options" 
		   	   style="width:inherit; box-shadow:5px 5px 20px grey;" 
		   	   class="modal-content2"
		   	   id="accentcolour2">

		  <!-- Modal Caption (Image Text) -->
		  <div id="modal_caption2"></div>

		</div>

		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Our Stamped Concrete Process</h2>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-md-12 mt-3 mb-2'>
						<h3>Excavation & Base Prep</h3>
						<p>The first step in creating a beautiful concrete slab is to build the base. In Ottawa we have a major freeze thaw cycle due to the drastic temperature changes of our climate. Therefore it is important to dig deep and properly compact the base material. We dig down 12" and lay landscape fabric at the bottom of the excavated area to separate the soil from the granular "A" stone base material. We then add about 8" of granular "A" crushed stone compacting every 2.5" or so. This ensures a solid base that will not shift during freeze thaw cycles and helps prevent cracking.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/stamped-concrete-excavation.jpg' %}" alt="digging with mini excavator" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/back-yard-patio-base-prep.jpg' %}" alt="excavating for concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/sidewalk-excavation.JPG' %}" alt="packing with diesel plate" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Forming</h3>
						<p>After the base is in place we set the forms. The forms are set to conform with the design plan and to ensure proper water drainage. Our forms are built from wood and nailed to either steel or wooden stakes. We coat the forms with oil before pouring so that they come apart from the concrete easily. Just before the pour we double check our form placement and make any required adjustments.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/forming1.jpg' %}" alt="concrete forms for patio" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/forming4.jpg' %}" alt="forming and concrete walkway" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/stamped-concrete-patio-forms.jpg' %}" alt="long concrete walkway" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Pouring & Finishing</h3>
						<p>Concrete is delivered to the work site. If we are using coloured concrete the dye will be mixed in at the concrete plant. The concrete is poured inside the forms, raked and screeded out to grade. Next we bring the concrete to a smooth finish to prepare for stamping.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/pouring1.jpg' %}" alt="pouring concrete into forms in front yard" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/raking-screeding.jpg' %}" alt="raking and screeding concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/banana1.jpg' %}" alt="finishing concrete with banana" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					 <div class='col-md-12 mt-4 mb-2'>
						<h3>Stamping</h3>
						<p>With the surface and edges brought to a smooth finish we then wait for the concrete to reach the right level of firmness before stamping. The first step in stamping is to broadcast release powder evenly over the slab. Concrete powder release agent forms a moisture barrier between the stamps and wet concrete to allow the stamps to release easily from the concrete. In addition to releasing agents the powder adds colour variations and highlights to the textured surface.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/release-powder.jpg' %}" alt="spreading concrete release powder on slab" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/texture-stamp.jpg' %}" alt="tamping concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/stamping1.jpg' %}" alt="placing concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-12 mt-4 mb-2'>
						<p>We use the touch up wheel to fix joints where concrete got squished up between stamps. We also do detail work agaisnt the walls where stamps can't fit.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/stamping4.jpg' %}" alt="walking on concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/touchup-wheel.jpg' %}" alt="using touch up wheel on stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/finishing-touches1.jpg' %}" alt="finishing touches on stamped concrete slab" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Cutting & Cleaning</h3>
						<p>After stamping we wait 24 - 36 hours and then sweep off excess release powder with a soft broom. More release powder is cleaned off with water, dish soap and a soft brush. We also do the crack control cuts at this time so that the concrete cracks in these precut lines and doesn't create unsightly cracks in your new surface. About one week after pouring we will do a final wash with acid to remove excess realease powder and prepare the surface for sealing.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/brooming-release-powder.jpg' %}" alt="grinding stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/washing-stamped-concrete.jpg' %}" alt="washing release powder off the stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/concrete-control-cuts.jpg' %}" alt="chiseling stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Sealing</h3>
						<p>With the surface washed and cut and after waiting one week or so for the concrete to cure we finally apply a coat of sealant. Concrete sealant helps prevent damage, corrosion and staining caused by oil, chemicals, salt, grease, weather exposure, UV rays, and moisture. Sealing also accentuates the colours and textures in the stamped surface. About one month after pouring we will often add another coat of concrete sealant.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/acid-wash-concrete.png' %}" alt="cleaning stamped concrete with leaf blower" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/blowing-concrete.jpg' %}" alt="using chisel to fix concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/concrete-sealing.jpg' %}" alt="sealing the stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Testimonials</h2>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
					   		<img src= "{% static 'image/stamped-concrete/woodstamped-concrete.jpg' %}" alt="stamped concrete patio wood stamp" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>"The new back patio looks great. Work was completed promptly and to good standards.  Quality of concrete finish is exceptional.  Job site was left clean and tidy.  I would do business with McExcavate again."</p>
							<br> 
							<p><b>- H. Finney, Barrhaven</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/stamped-concrete/stamped-concrete-cottage-1.jpg' %}" alt="stamped concrete cottage deck" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>"We were totally impressed with the fantastic job that McExcavate did for us.  They were punctual, efficient, knowledgeable and most of all the patio and deck looked absolutely beautiful. A few of our neighbours decided to get stamped concrete as well after seeing our wonderful result."</p>
							<br> 
							<p><b>- M. O'Dell, Calabogie</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/stamped-concrete/broom-finish-walkway-greely.JPG' %}" alt="broom finish walkway greely" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>“Great service. Guys worked hard and were quick to do it. Walkway and step look great. Thank you to Conor and his crew. Very pleased with the job.”</p>
							<br> 
							<p><b>- J. Song, Greely</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/stamped-concrete/stamped_path_2.jpg' %}" alt="stamped concrete walkway and steps" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>“Had my walkway done two weeks ago by McExcavate. These guys did a great job. The crew was very nice and courteous. I would recommend.”</p>
							<br> 
							<p><b>- P. Todd, Westboro</b></p>
						</div>
					</div>

				</div>
			</div>
		</div>

		{% if blogs %}
		{% include "related-blogs.html" %}
		{% endif %}

		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Frequently Asked Questions</h2>
			<div class='container-fluid'>
				<div class='row mt-4 mb-3'>
					<div class='col-md-12 mt-1 mb-2'>
						<h3>How long will stamped concrete last?</h3>
						<p>Stamped concrete will last for decades when properly installed and maintained, even in Ottawa's climate where it will be exposed to harsh winter weather conditions and freeze thaw cycles. We at McExcavate also seal our stamped concrete projects to protect the surface from abrasion and wear and make it easier to maintain.</p>
					</div>
					<div class='col-md-12 mt-1 mb-2'>
						<h3>What kind of maintenance is required?</h3>
						<p>Cleaning and resealing of the stamped concrete surface should be done every 2 to 3 years or so, but depends on the use the area is subjected to, foot or car traffic, weather, chemicals, etc. Before resealing just simply clean the surface with a garden hose or pressure washer along with some mild soap and a push broom. While concrete sealant makes the surface stronger, more resistant to abrasion, and helps block the penetration of water, stains, dirt and chemicals it is still a good idea to remove grease, oil and other spills right away.</p>
					</div>
					<div class='col-md-12 mt-1 mb-2'>
						<h3>Does stamped concrete look fake?</h3>
						<p>Stamped concrete looks very realistic because most stamping mats are molded from the actual materials they are designed to replicate. To achieve natural-looking colour variations as found in real stone or wood, we use an integral colour in the concrete mix along with an accent colour added to the surface of the concrete using stamping release powder.</p>
					</div>
					<div class='col-md-12 mt-1 mb-2'>
						<h3>Is stamped concrete slippery?</h3>
						<p>Due to it's textured surface stamped concrete is often more slip resistant than broom finish concrete. However, just like natural stone, it can become slippery when wet. If it will be installed in a high-traffic area stamped concrete's slip resistance can be improved by using a heavier texture or adding a skid-resistant additive to the sealer.</p>
					</div>
					<div class='col-md-12 mt-1 mb-2'>
						<h3>Does stamped concrete crack?</h3>
						<p>Stamped concrete is resistant to cracking when installed correctly. However since some cracking is likely to occur we cut crack control joints into the concrete where we predict cracking is likely to happen. If stamped concrete experiences minor cracking, the cracks are often hard to detect because they will often blend in with the pattern and joint lines.</p>
					</div>
<!-- 					<div class='col-md-12 mt-1 mb-2'>
						<h3>Can I put salt on it in the winter?</h3>
						<p>No. Use sand.</p>
					</div> 
					<div class='col-md-12 mt-1 mb-2'>
						<h3>Will the colour fade?</h3>
						<p>Efflorescence, weathering, dirt and traffic can take their toll on the color of stamped concrete. You can minimize any color change by periodically cleaning and resealing the concrete. Even if the color has faded due to years of neglect or lack of maintenance, it can often be restored to its original state by cleaning and resealing.</p>
					</div>  -->
					<br>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Our Other Concrete Services</h2>
			<div class='container-fluid'>
				<div class='row mt-4 mb-5'>
					<div class='col-md-12 mb-2'>
						<a href='/concrete/stamped-driveway/'><p>Stamped Concrete Driveways</p></a>
						<a href='/concrete/stamped-patio/'><p>Stamped Concrete Patios</p></a>
						<a href='/concrete/stamped-walkway/'><p>Stamped Concrete Walkways</p></a>
						<a href='/concrete/slabs/'><p>Concrete Slabs</p></a>
						<a href='/concrete/steps/'><p>Concrete Steps</p></a>
						<a href='/concrete/repair/'><p>Concrete Repair</p></a>
						<a href='/concrete/sealing/'><p>Concrete Sealing</p></a>
					</div>
					<br>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete"
  document.getElementById("service_contact_form").submit();
});

// Integral Colours Modal
// Get the modals
var modal = document.getElementById("ColourModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("integralcolour");
var modalImg = document.getElementById("integralcolour2");
var captionText = document.getElementById("modal_caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
// Get the <span> element that closes the modal
var span = document.getElementById("close1");

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// Accent Colours Modal
// Get the modal
var modal2 = document.getElementById("ColourModal2");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img2 = document.getElementById("accentcolour");
var modalImg2 = document.getElementById("accentcolour2");
var captionText2 = document.getElementById("modal_caption2");
img2.onclick = function(){
  modal2.style.display = "block";
  modalImg2.src = this.src;
  captionText2.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span2 = document.getElementById("close2");

// When the user clicks on <span> (x), close the modal
span2.onclick = function() {
  modal2.style.display = "none";
}



</script>
{% endblock javascript %}
