{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row mb-5'>
		<div class='col-lg-6 '>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row'>
						<h1>{{title}}</h1>
						<div class='service_top_row_bullets'>
						<p style="font-size: 18px;">Your our old concrete doesn't have to be completely removed and replaced. You can resurface your damaged or worn out concrete to make it look brand new again. You can also add to the functionality of your concrete surface by using a resurfacing product that protects it from salt damage and reduces slipping. You can also beautify your existing concrete by using a coloured and stamped finish. Contact us today to discuss your project!</p>
						<br>
						<p>• High Quality Products</p>
						<p>• Multitude of Surface Options</p>
						<p>• Experience</p>
						<p>• Excellent Customer Service</p>
						<br>
						</div>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_10.jpg' %}" alt="Resurfacing With Stamped Concrete Layer using random stone pattern in grey and white colour">
						<p class='service_img_caption_black'>Resurfacing With Stamped Concrete Layer.</p>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>
		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Our Concrete Resurfacing Process</h2>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-md-12 mt-3 mb-2'>
						<h3>Chip Off Broken Concrete and Grind Off Old Resurfacing Layer  </h3>
						<p>The first step is to remove larger pieces of broken concrete and the old resurfacing layer. We use hammers and chisels to remove anything that will come off. Next we grind off what remains of the old resurfacing layer down to bare concrete, grind down sharp edges and brittle sections of the original concrete.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_1.jpg' %}" alt="digging with mini excavator" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_11.jpg' %}" alt="digging with mini excavator" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_6.jpg' %}" alt="excavating for concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_2.jpg' %}" alt="excavating for concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_3.jpg' %}" alt="packing with diesel plate" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_7.jpg' %}" alt="packing with diesel plate" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Prepare Concrete For Resurfacing</h3>
						<p>Once we get down to bare concrete we prepare the area for resurfacing. The concrete is saturated with water so the resurfacing material doesn't dehydrate too quickly. We then apply a binding adhesive to the surface to ensure proper adhesion.  </p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_4.jpg' %}" alt="pouring concrete into forms in front yard" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_5.jpg' %}" alt="raking and screeding concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_12.jpg' %}" alt="finishing concrete with banana" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					 <div class='col-md-12 mt-4 mb-2'>
						<h3>Apply Resurfacing Material</h3>
						<p>Once the concrete is prepared we begin mixing up the resurfacing material and apply it at to the surface. Broom finished material is applied at a thickness of 1/4" - 1/2" thicness. Stamped resurfacing material is applied at a thickness of 3/4" inch. Stamped and broom finished surfaces can be coloured.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_11.jpg' %}" alt="tamping concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/952Hamlet-resurfacing-link.jpg' %}" alt="placing concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_4.jpg' %}" alt="spreading concrete release powder on slab" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_8.jpg' %}" alt="tamping concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/2064haig_resurfacing_9.jpg' %}" alt="placing concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/stamped_concrete_resurfacing_500x250_1.jpg' %}" alt="spreading concrete release powder on slab" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Seal Concrete</h3>
						<p>Once resurfacing is complete we apply a cure and seal to the concrete. The curing agent slows the curing process to ensure even curing and harder concrete. Sealant protects the concrete from staining, weather damage and colour fading.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_10.jpg' %}" alt="grinding stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_9.jpg' %}" alt="washing release powder off the stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/resurfacing/concrete_resurfacing_500x250_12.jpg' %}" alt="chiseling stamped concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}