{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row mb-5'>
		<div class='col-lg-6 '>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row'>
						<h1>{{title}}</h1>
						<div class='service_top_row_bullets'>
						<p style="font-size: 18px;">Whether you are looking to build basic or very intricate and decorative steps we can help you. Concrete steps are more affordable than interlock steps and more durable than wooden ones. Since concrete steps can also be connected to the foundation of your home with rebar they will last longer than interlock steps since they won't heave and shift. Your concrete steps can be made to look like natural stone, wood and other building materials. Contact us today to discuss your project.</p>
						<br>
						<p style="font-size: 18px;">Concrete steps are:</p>
						<p style="font-size: 18px;">• Long lasting.</p>
						<p style="font-size: 18px;">• Less expensive than interlock.</p>
						<p style="font-size: 18px;">• More durable than wood.</p>
						<p style="font-size: 18px;">• Customizable colour, texture and shape.</p>
						<br>
						</div>
						<img src= "{% static 'image/stamped-concrete/concrete_steps_link.jpg' %}" alt="ottawa interlock front walkway steps and garden wall">
						<p class='service_img_caption_black'>Stamepd concrete steps in dark grey with black highlights.</p>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}