{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row mb-5'>
		<div class='col-lg-6'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row'>
						<h1>{{title}}</h1>
						<div class='service_top_row_bullets'>
						<p style="font-size: 18px;">You want to build your concrete slab correctly so that it stands the test of time. You may have blueprints or need advice on concrete thickness and reinforcement requirements. Whether you are looking to build a shed slab, garage floor, fuel tank slab, loading dock or anything in between we make sure to build the slab strong enough for it's intended use and pay attention to detail on the finishing.</p>
						<br>
						<p style="font-size: 18px;">• Excellent Customer Service</p>
						<p style="font-size: 18px;">• Expert Knowledge</p>
						<p style="font-size: 18px;">• Experience</p>
						<p style="font-size: 18px;">• Satisfaction Guaranteed</p>
						<br>
						</div>
						<img src= "{% static 'image/slabs/fuel_tank_slab.jpg' %}" alt="Fuel tank slab with bollards">
						<p class='service_img_caption_black'>Fuel tank slab with vehicle protection bollards.</p>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}