{% extends "base.html" %}
{% block content %}
{% include "top_banner.html" %}
{% load crispy_forms_tags %}
{% load static %} 
<div class='container'>
	<div class='row my-3'>

		<div class='col-12'>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-md-6'>
						<ul class=''>
							<li><p style='font-size: 22px;' class='mb-3'>Free, Prompt, Written Estimate</p></li>
							<li><p style='font-size: 22px;' class='mb-3'>Premium Tools</p></li>
							<li><p style='font-size: 22px;' class='mb-3'>Trusted Professionals</p></li>
							<li><p style='font-size: 22px;' class='mb-3'>Patios, Walkways, Driveways</p></li>
						</ul>
						<a href='#concrete_calculator'><button class="btn btn-danger mt-2 mb-5"> Use Price Calculator!</button></a>
						<a href='/contact'><button class="btn btn-danger mt-2 mb-5"> Book an Estimate!</button></a>
					</div>
					<div class='col-md-6'>
						<img src= "{% static 'image/stamped-concrete/stamped_front_step.jpg' %}" alt="ottawa stamped conrete front walkway and step" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p class='mt-2' style='font-size: 14px;font-style: italic;'>Stamped concrete front walkway - Orleans</p>
					</div>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<div class='container-fluid concrete_calculator' id="concrete_calculator">
				<h3>Concrete Pricing Calculator</h3>
				<!-- project overview -->
				<div class='crete_project'>
					<div class='col-12'>
						<p class='project_detail_list'>Your Project:</p>
						<p class='project_detail_list' id='proj_crete_shape'></p>
						<p class='project_detail_list' id='proj_crete_size'></p>
						<p class='project_detail_list' id='proj_crete_finish'></p>
						<p class='project_detail_list' id='proj_crete_stamp'></p>
						<p class='project_detail_list' id='proj_crete_color'></p>
						<p id='proj_crete_price'>Price:</p>
						<hr>
					</div>
				</div>
				<!-- Shape & Size -->
				<div class='crete_shape' id="crete_shape">
					<div class='col-12'>
						<h4>Shape:</h4>
						<label for="crete_shape">Shape:</label>
						<select name="crete_shape" id="crete_shape_select">
						  <option value="Square/Rectangle">Square/Rectangle</option>
						  <option value="Circle">Circle</option>
						</select>

						<h4>Size:</h4>
						<div class='crete_length_labelninput' id='crete_length_labelninput'>
							<label for="crete_length" class='crete_length_label' id='crete_length_label'>Length:</label>
							<input type="text" name="crete_length" class='crete_length_input' id='crete_length_input'>
						</div>
						<div class='crete_width_labelninput' id='crete_width_labelninput'>
							<label for="crete_width" class='crete_width_label' id='crete_width_label'>Width:</label>
							<input type="text" name="crete_width" class='crete_width_input' id='crete_width_input'>
						</div>
						<div class='crete_diameter_labelninput' id='crete_diameter_labelninput'>
							<label for="crete_diameter" class='crete_diameter_label' id='crete_diameter_label'>Diameter:</label>
							<input type="text" name="crete_diameter" class='crete_diameter_input' id='crete_diameter_input'>
						</div>
						<p id='crete_total_area'>Total Area:</p>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_shape_next"> Next --></button>
					</div>
				</div>
				<!-- Finish -->
				<div class='crete_finish' id="crete_finish">
					<div class='col-12'>
						<h4>Finish:</h4>
						<p>Select your desired finish type from the options below...</p>
						<div class='container-fluid'>
							<div class='row'>

								<div class='col-md-4 p-2'>
									<div class='calc_finish_options' id="stamped_finish">
										<p><b>Stamped</b></p>
										<img src= "{% static 'image/stamped-concrete/stampedexample.jpg' %}" alt="stamped concrete finish example">
										<br> 
									</div>
								</div>

								<div class='col-md-4 p-2'>
									<div class='calc_finish_options' id="broom_finish">
										<p><b>Broom</b></p>
								   		<img src= "{% static 'image/stamped-concrete/broomfinish.jpg' %}" alt="broom finish concrete sidewalk example">
										<br> 
									</div>
								</div>

								<div class='col-md-4 p-2'>
									<div class='calc_finish_options' id="smooth_finish">
										<p><b>Smooth</b></p>
										<img src= "{% static 'image/stamped-concrete/smoothfinish.jpg' %}" alt="smooth concrete finish example">
										<br> 
									</div>
								</div>

							</div>
						</div>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_finish_previous"><-- Previous</button>
						<!-- <button class="btn btn-danger crete_calc_bttn_1" id="crete_finish_next"> Next </button> -->
					</div>
				</div>
				<!-- Stamp -->
				<div class='crete_stamp' id='crete_stamp'>
					<div class='col-12'>
						<h4>Stamp Pattern:</h4>
						<p>Select your desired stamp pattern from the options below...</p>
						<div class='container-fluid'>
							<div class='row'>

								<div class='col-md-4 p-2'>
									<div class='calc_finish_options' id='stamp_option_1'>
										<p><b>Seamless Italian Slate</b></p>
										<img src= "{% static 'image/stamped-concrete/Seamless-Italian-Slate.jpg' %}" alt="stamped concrete patio wood stamp">
										<br> 
									</div>
								</div>

								<div class='col-md-4 p-2'>
									<div class='calc_finish_options' id='stamp_option_2'>
										<p><b>Castle Stone</b></p>
								   		<img src= "{% static 'image/stamped-concrete/Castle-Stone.png' %}" alt="stamped concrete walkway and steps">
										<br> 
									</div>
								</div>

								<div class='col-md-4 p-2'>
									<div class='calc_finish_options' id='stamp_option_3'>
										<p><b>Boardwalk</b></p>
										<img src= "{% static 'image/stamped-concrete/Boardwalk-with-knots.jpg' %}" alt="stamped concrete patio and steps ottawa">
										<br> 
									</div>
								</div>

							</div>
						</div>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_stamp_previous"><-- Previous</button>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_stamp_next"> Next --></button>
					</div>
				</div>
				<!-- Color -->
				<div class='crete_color' id='crete_color'>
					<div class='col-12'>
						<h4>Concrete Colour:</h4>
						<p>Select your desired colour from the options below...</p>
						<div class='container-fluid'>
							<div class='row'>

								<div class='col-md-3 col-sm-6 p-2'>
									<div class='calc_finish_options' id='color_option_1'>
										<p><b>Brown</b></p>
										<img src= "{% static 'image/stamped-concrete/Seamless-Italian-Slate.jpg' %}" alt="stamped concrete patio wood stamp">
										<br> 
									</div>
								</div>

								<div class='col-md-3 col-sm-6 p-2'>
									<div class='calc_finish_options' id='color_option_2'>
										<p><b>Red</b></p>
								   		<img src= "{% static 'image/stamped-concrete/Castle-Stone.png' %}" alt="stamped concrete walkway and steps">
										<br> 
									</div>
								</div>

								<div class='col-md-3 col-sm-6 p-2'>
									<div class='calc_finish_options' id='color_option_3'>
										<p><b>Grey</b></p>
										<img src= "{% static 'image/stamped-concrete/Boardwalk-with-knots.jpg' %}" alt="stamped concrete patio and steps ottawa">
										<br> 
									</div>
								</div>

								<div class='col-md-3 col-sm-6 p-2'>
									<div class='calc_finish_options' id='color_option_4'>
										<p><b>Black</b></p>
										<img src= "{% static 'image/stamped-concrete/Boardwalk-with-knots.jpg' %}" alt="stamped concrete patio and steps ottawa">
										<br> 
									</div>
								</div>

							</div>
						</div>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_color_previous"><-- Previous</button>
					</div>
				</div>
				<!-- Price -->
				<div class='crete_price' id='crete_price'>
					<div class='col-12'>
						<h4></h4>
						<p>Thank you for using the calculator!</p>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_stamp_previous">Reset Calculator</button>
						<button class="btn btn-danger crete_calc_bttn_1" id="crete_stamp_next">Book an Estimate</button>
					</div>
				</div>

			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h3>Concrete Finish Options</h3>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-md-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/stampedexample.jpg' %}" alt="stamped concrete finish example">
							<br> 
							<p><b>Stamped</b></p>
						</div>
					</div>

					<div class='col-md-4 p-2'>
						<div class='small_photo_box'>
					   		<img src= "{% static 'image/stamped-concrete/broomfinish.jpg' %}" alt="broom finish concrete sidewalk example">
							<br> 
							<p><b>Broom Finish</b></p>
						</div>
					</div>

					<div class='col-md-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/smoothfinish.jpg' %}" alt="smooth concrete finish example">
							<br> 
							<p><b>Smooth Finish</b></p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class='col-12'>
			<hr>
			<h3>Stamp Patterns</h3>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
					   		<img src= "{% static 'image/stamped-concrete/Seamless-Italian-Slate.jpg' %}" alt="stamped concrete patio wood stamp">
							<br> 
							<p><b>Seamless Italian Slate</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Random-Sandstone.jpg' %}" alt="stamped concrete pool deck ottawa">
							<br> 
							<p><b>Random Sandstone</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Boardwalk-with-knots.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Boardwalk</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Castle-Stone.png' %}" alt="stamped concrete walkway and steps">
							<br> 
							<p><b>Castle Stone</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Seamless-Belgium-Slate.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Seamless Belgian Slate</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Fishscale-Granite-Sets.png' %}" alt="stamped concrete walkway and steps">
							<br> 
							<p><b>Fishscale Granite Sets</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Herringbone-Old-Cobble-Stone.png' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Heringbone Old Cobble Stone</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Parquet-wood-diagonal.jpg' %}" alt="stamped concrete walkway and steps">
							<br> 
							<p><b>Parquet Wood Diagonal</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Rotating-Ashlar-Italian-Slate.jpg' %}" alt="stamped concrete patio and steps ottawa">
							<br> 
							<p><b>Rotating Ashlar Italian Slate</b></p>
						</div>
					</div>

					<div class='col-md-3 col-sm-4 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/stamped-concrete/Yuko-Fan-Gang-Tool.png' %}" alt="stamped concrete walkway and steps">
							<br> 
							<p><b>Yuko Fan Gang Tool</b></p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h3>Colours</h3>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-12 p-2'>
					   	<img src= "{% static 'image/stamped-concrete/soloman-color-card.jpg' %}" alt="stamped concrete patio wood stamp" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h3>Our Concrete Process</h3>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-md-12 mt-3 mb-2'>
						<h3>Excavation & Base Prep</h3>
						<p>The first step in creating a beautiful concrete slab is to build the base. We dig down about 12" then add about 8" of compacted Granular "A" crushed stone.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/Digging-Poured-Concrete-Patio.jpg' %}" alt="digging with mini excavator" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/base-prep2.jpg' %}" alt="excavating for concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/sidewalk-excavation.jpg' %}" alt="packing with diesel plate" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Forming</h3>
						<p>After the base is in place we build the forms for the project. Setting the forms corectly is obviously very important because they determine the shape and grade of your concrete slab. Our forms are built from wood and nailed to either steel or wooden stakes to keep them in place. We coat the wooden forms with oil before pouring the concrete so that they come apart from the concrete easily. Just before pouring we double check our form placement and level making  any required adjustments.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/forming1.jpg' %}" alt="concrete forms for patio" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/forming4.jpg' %}" alt="forming and concrete walkway" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/sidewalk-formed.jpg' %}" alt="long concrete walkway" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Pouring & Finishing</h3>
						<p>The concrete is delivered to the work site in a concrete truck. We prefer to pour with a 4.5" - 5" slump. The concrete is poured inside the forms and we rake it out to grade. Next we bring the concrete to a smooth finish while starting to add some dye powder for colour. </p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/pouring1.jpg' %}" alt="pouring concrete into forms in front yard" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/raking-screeding.jpg' %}" alt="raking and screeding concrete" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/banana1.jpg' %}" alt="finishing concrete with banana" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					 <div class='col-md-12 mt-4 mb-2'>
						<h3>Stamping</h3>
						<p>With the surface and edges brought to a smooth finish and some colour added we now broadcast powder release dye all over the slab with a mason brush to ensure full and even coverage. We also dust the bottom of each stamp with powder release dye and when the concrete is the perfect firmness we start stamping. We start with a texture stamp all around the edges. Then begin from a corner and stamp our way over the entire slab tamping down the stamps and walking over them as we go.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/release-powder.jpg' %}" alt="spreading release powder dye on slab" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/texture-stamp.jpg' %}" alt="tamping concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/stamping1.jpg' %}" alt="placing concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-12 mt-4 mb-2'>
						<p>We use the touch up wheel to fix joints where concrete got squished up between stamps. We also do detail work agaisnt the walls where stamps don't fit. Finally we broadcast more release powder over the slab.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/stamping4.jpg' %}" alt="walking on concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/touchup-wheel.jpg' %}" alt="picking up concrete stamps" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/finishing-touches1.jpg' %}" alt="finishing touches on stamped concrete slab" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Finishing Touches</h3>
						<p>After stamping we wait 48 - 72 hours and go back to add some finishing touches. First we sweep off excess release powder and thuroughly pressure wash the surface. Next we use a grinder with a diamond tippped blade to remove excess concrete from squishups we missed during stamping. For any joints that appear too faint we use chizzels to etch them out correctly. Now the repairs done to these spots will have revealed bare concrete so we mix up some colour and apply it to those areas.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/pressure-wash1.jpg' %}" alt="bulldozer and backhoe spreading new soil" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/grinder1.jpg' %}" alt="bulldozer grading soil for new lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/chisel1.jpg' %}" alt="backhoe hauling soil on new lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-12 mt-4 mb-2'>
						<p>If any small cracks have appeared we repair them by tapping them closed with a hammer. Finally we clean off the surface with a leaf blower and then spray on a couple coats of sealant. We will also wait a couple of weeks until the concrete is fully cured to come back and seal it again. In the best interests of keeping the concrete in top condition the home owner should inspect and maintain the sealant as required going forward 
						 .</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/chisel2.jpg' %}" alt="bulldozer and backhoe spreading new soil" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/blowing-concrete.jpg' %}" alt="bulldozer grading soil for new lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/stamped-concrete/concrete-sealing.jpg' %}" alt="backhoe hauling soil on new lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<h3>Testimonials</h3>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
					   		<img src= "{% static 'image/stamped-concrete/woodstamped-concrete.jpg' %}" alt="stamped concrete patio wood stamp" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>"The new back patio looks great. Work was completed promptly and to good standards.  Quality of concrete finish is exceptional.  Job site was left clean and tidy.  I would do business with McExcavate again."</p>
							<br> 
							<p><b>- H. Finney, Barrhaven</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/stamped-concrete/stamped-pool-deck.jpg' %}" alt="stamped concrete pool deck ottawa" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>"We were totally impressed with the fantastic job that McExcavate did for us.  They were punctual, efficient, knowledgeable and most of all the pool deck looked absolutely beautiful.  Many of our neighbours decided to get stamped concrete as well after seeing our wonderful result.
							Thanks McExcavate."</p>
							<br> 
							<p><b>- M. O'Dell, Alta Vista</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/stamped-concrete/stamped_patio_2.jpg' %}" alt="stamped concrete patio and steps ottawa" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>“Great service. Guys worked hard and were quick to do it. Deck and steps look amazing. Thank you to Conor and his crew.  Very pleased with the job.”</p>
							<br> 
							<p><b>- J. Song, Kanata</b></p>
						</div>
					</div>

					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/stamped-concrete/stamped_path_2.jpg' %}" alt="stamped concrete walkway and steps" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'>“Had my walkway done two weeks ago by McExcavate. These guys did a great job. The crew was very nice and courteous. I would recommend.”</p>
							<br> 
							<p><b>- P. Todd, Westboro</b></p>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

var price = document.getElementById("price").value;

function changeLengthWidth(){
	
	var area = document.getElementById("area").value;
	
	function lengthWidth(area){			
		return Math.sqrt(area);	
	};

	length_width = lengthWidth(area)

	function writeLengthWidth(length_width){
		document.getElementById("length").value = length_width.toFixed(2);
		document.getElementById("width").value = length_width.toFixed(2);
	};

	writeLengthWidth(length_width)
};

function changeArea(){

	var length = document.getElementById("length").value;
	var width = document.getElementById("width").value;

	function findArea(length, width){
	return length * width
	};

	var area =  findArea(length, width);

	function writeArea(area){
		document.getElementById("area").value = area.toFixed(2);
	};

	writeArea(area);
};

function getPrice(){

	var area = document.getElementById("area").value;
 	var sq_price = 2.5;

	function price(area,sq_price){
		return area * sq_price
	};

	var price = price(area,sq_price);

	function writePrice(price){
		document.getElementById("price").innerHTML = price;
	};

	// alert(price);

	var submit_message = "Re-Sodding " + area + " sq feet on the Back lawn = $ " + price + ". \nThank you for using our pricing calculator. We have emailed you a copy of your price quote."
	window.confirm(submit_message);
	writePrice(price);
};

</script>
{% endblock javascript %}
