{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row mb-5'>
		<div class='col-lg-6 '>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row'>
						<h1>{{title}}</h1>
						<div class='service_top_row_bullets'>
						<p style="font-size: 18px;">Whether you are looking to build basic or very intricate, decorative steps we can help you. Concrete steps are more affordable than interlock steps and more durable than wooden ones. Since concrete steps can also be connected to the foundation of your home with rebar they will last longer than interlock steps since they won't heave and shift. Your concrete steps can be made to look like natural stone, wood and other building materials. Contact us today to discuss your project.</p>
						<br>
						<p style="font-size: 18px;">Concrete steps are:</p>
						<p style="font-size: 18px;">• Long lasting.</p>
						<p style="font-size: 18px;">• Less expensive than interlock.</p>
						<p style="font-size: 18px;">• More durable than wood.</p>
						<p style="font-size: 18px;">• Customizable colour, texture and shape.</p>
						<br>
						</div>
						<img src= "{% static 'image/stamped-concrete/concrete_steps_link.jpg' %}" alt="black stamped concrete steps">
						<p class='service_img_caption_black'>Stamepd concrete steps in dark grey with black highlights.</p>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>
		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Concrete Step Options</h2>
			<div class='container-fluid'>
				<div class='row my-3'>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
					   		<img src= "{% static 'image/steps/plain_broom_finished_steps.jpg' %}" alt="broom finished concrete steps">
							<br> 
							<p><b>Plain Broom Finish</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/steps/beveled_edge_concrete_steps.jpg' %}" alt="concrete steps with beveled edge">
							<br> 
							<p><b>Beveled Broom Finish</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/steps/plain_face_stamped_tread_steps.jpg' %}" alt="concrete steps with plain face and stamped tread">
							<br> 
							<p><b>Plain Face & Stamped Tread</b></p>
						</div>
					</div>

					<div class='col-lg-3 col-sm-6 p-2'>
						<div class='small_photo_box'>
							<img src= "{% static 'image/steps/textured_face_stamped_concrete_steps.jpg' %}" alt="concrete steps with textures face and stamped tread">
							<br> 
							<p><b>Textured Face & Stamped Tread</b></p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}