{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% include "breadcrumbs.html" %}
{% load static %}

<div class='container'>	

	<div class='row contact_info_row'>
		<div class='contact_info_col'>
			<h3>CRUSADER CONCRETE</h3>
			<div class="contact_email">
				<i class="fa fa-envelope"></i><a href='mailto:mcexcavate.ottawa@gmail.com' target='.'><p>info@crusaderconcrete.ca</p></a><br>
			</div>
			<div class='contact_phone'>
				<i class="fa fa-phone"></i><a href='tel:6136087722'><p>613-608-7722</p></a>
			</div>
		</div>
	</div>

	<div class="row contact_form_row">
		<div class="contact_form_col">
			{% include "contact_form.html" %}
		</div>
	</div>
		
</div>

{% endblock %}

{% block javascript %}

<script>
  // Form Upload Spinner
  const form = document.getElementById("contact_form");
  const overlay = document.getElementById("uploadOverlay");

  if (form) {
    form.addEventListener("submit", function () {

      // Show overlay immediately
      if (overlay) {
        overlay.classList.add("is-visible");
        overlay.setAttribute("aria-hidden", "false");
      }

      // Disable submit button to prevent double-clicks
      const submitBtn = form.querySelector(
        'button[type="submit"], input[type="submit"]'
      );

      if (submitBtn) {
        submitBtn.disabled = true;
      }

    });
  }
</script>
{% endblock javascript %}