<!--- Footer -->
<footer>
	<div class="container-fluid">
		<div class="row text-center footer">
			<div class="fdiv fdiv1">
				<a href='/'>
				{% load static %}
				<img src="{% static 'image/logos/mcexcavate-logo-white.png' %}" style='height:40px;'>
				</a>
				<hr class='footer-hr'>
				<div class="">
					<p>McExcavate</p>
					<p>1503 Gilles St B.</p>
					<p>Ottawa, ON K1H 8E2</p>
				</div>
				<div class="pt-3">
					<i class="fa fa-envelope" style='display:inline;'></i><a href='mailto:mcexcavate.ottawa@gmail.com' target='.'><p style='display:inline;'>info@mcexcavate.com</p></a><br>
				</div>
				<div class='pt-3'>
					<i class="fa fa-phone" style='display:inline;'></i><a href='tel:6136087722'><p style='display:inline;'> 613-608-7722</p></a>
				</div>
				<div class='socials'>
<!-- 					<div>
						<a href='https://www.youtube.com/c/NewLawnOttawa' target="."><i class="fab fa-youtube fa-3x"></i></a>
					</div> -->
					<div style='margin:auto;'>
						<a href='https://www.instagram.com/mcexcavate_/' target="."><i class="fab fa-instagram fa-3x"></i></a>
					</div>

<!-- 					<div>
						<a id='facebook_link' href='https://www.facebook.com/McExcavate-539459882771200' target="."><i class="fab fa-facebook fa-3x"></i></a>
					</div> -->
				</div>
			</div>
			<div class="fdiv linkdiv">
				<hr class="footer-hr">
				<h5>Concrete</h5>
				<hr class="footer-hr">
				<a href='/concrete'><p>Stamped Concrete Ottawa</p></a>
				<a href='/concrete/stamped-driveway/'><p>Stamped Concrete Driveways</p></a>
				<a href='/concrete/stamped-patio/'><p>Stamped Concrete Patios</p></a>
				<a href='/concrete/stamped-walkway/'><p>Stamped Concrete Walkways</p></a>
				<a href='/concrete/slabs/'><p>Concrete Slabs</p></a>
				<a href='/concrete/steps/'><p>Concrete Steps</p></a>
				<a href='/concrete/repair/'><p>Concrete Repairs</p></a>
				<a href='/concrete/sealing/'><p>Concrete Sealing</p></a>
			</div>
			<div class="fdiv linkdiv">
				<hr class="footer-hr">
				<h5>Other Services</h5>
				<hr class="footer-hr">
				<a href='/sod-installation/'><p>Sod Installation</p></a>
				<!-- <a href='/interlock'><p>Interlock</p></a> -->
				<a href='/excavation/'><p>Excavation</p></a>
 				<!-- <a href='/asphalt-paving'><p>Asphalt Paving</p></a> -->
				<!-- <a href='/asphalt-repairs'><p>Asphalt Repairs</p></a> -->
				<!--<a href='/lawn-mowing'><p>Lawn Mowing</p></a>
				<a href='/parging'><p>Parging</p></a> -->
			</div>
			<div class="fdiv linkdiv">
				<hr class="footer-hr">
				<h5>About</h5>
				<hr class="footer-hr">
				<a href='/gallery/'><p>Gallery</p></a>
				<a href='/careers/'><p>Careers</p></a>
				<a href='/about/'><p>About</p></a>
				<a href='/contact/'><p>Contact</p></a>
			</div>
			<div class="col-12">
				<hr class="footer-hr">
				<h5 class='fh5'>&copy; McExcavate Inc. 2023</h5>
			</div>
		</div>
	</div>	
</footer>