{% extends "base.html" %}
{% block content %}
{% load static %} 

<!--- Iamge Banner -->
<div class='cointainer-fluid'>
	<div class='row'>

		<div class='col col-12'>
			<div class= "img-ban-1">
				<div class= "ban-box">
				   	<img id= "ban-image" class="ban-image" src= "{% static 'image/banner/1510carsonby-banner.jpg' %}" alt="dark-grey-stamped-concrete-front-porch">
					<img id= "ban-image" class="ban-image" src="{% static 'image/banner/banner_448evered.jpg' %}" alt="back lawn with new sod and white fence" >
				</div>
				<div class= "ban-box">
				  	<img id= "ban-image" class="ban-image" src="{% static 'image/banner/Sean-stamped-concrete-4.jpg' %}" alt="mini ex filling dump truck">
				</div>
				<div class= "ban-box">
				  	<img id= "ban-image" class="ban-image" src="{% static 'image/banner/banner_6494princiota.jpg' %}" alt="stamped concrete walkway random stone pattern in reddish brown">
					<img id= "ban-image" class="ban-image" src="{% static 'image/banner/banner_12clay.jpg' %}" alt="stamped concrete front walkway with step and garden walls in smoke grey">
				</div>
				<div class= "ban-box">
				  	<img id= "ban-image" class="ban-image" src="{% static 'image/banner/banner_1951montclair.jpg' %}" alt="interlock driveway extension">
					<img id= "ban-image" class="ban-image" src="{% static 'image/banner/42-oriole-steps.jpg' %}" alt="white-and-grey-stamped-concrete-front-walkway">
				</div>
			</div>
		</div>

		<div class='col col-12'>
			<div class="carousel-1 slide" data-ride="carousel">
			  <div class="carousel-items">
			    <div class="carousel-item active">
			      	<h2 class="d-block" align="center">Stamped Concrete</h2>
			    </div> 
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Concrete Slabs</h2>
			    </div> 
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Concrete Steps</h2>
			    </div> 
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Concrete Repairs</h2>
			    </div> 
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Concrete Resurfacing</h2>
			    </div> 
			    <div class="carousel-item">
			        <h2 class="d-block" align="center">Excavation</h2>
			    </div>
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Bollards</h2>
			    </div>		    
			  </div>
			</div>
		</div>

	</div>
</div>

<div class='container home_content_wrapper'>
	<div class='row'>
		<div class='col-12 home_about'>
			<h1>Crusader Concrete - Ottawa Concrete Contractor</h1>
			<p>Crusader Concrete delivers professional concrete, excavation, and bollard installation services for commercial and residential customers. We approach every job with attention to detail, practical experience, and a strong commitment to high standards. Our team takes pride in skilled craftsmanship, clear communication, and maintaining a safe, organized worksite. From start to finish, our focus is on dependable service and results built to last.</p>
		</div>

		<div class="col-12">
			<h2 class="home_h2">OUR SERVICES</h2>
			<div class="line"></div>
		</div>
		
		<div class='col-xl-4 col-lg-6 col-md-6'>
			<div class='services_box'>
				<a href='/concrete-services/'><h2>Concrete</h2></a>
				<a href='/concrete-services/'><p>Learn more...</p></a>
				<a href='/concrete-services/' style='width:inherit;'><img class="" src="{% static 'image/home/homepage_concrete.jpg' %}" alt="link to concrete services page"></a>
			</div>
		</div>

    <div class='col-xl-4 col-lg-6 col-md-6'>
			<div class='services_box'>
				<a href='/excavation/'><h2>Excavation</h2></a>
				<a href='/excavation/'><p>Learn more...</p></a>
				<a href='/excavation/' style='width:inherit;'><img class="" src="{% static 'image/excavation/mini-ex-on-driveway.jpg' %}" alt="ottawa excavation services"></a>
			</div>
		</div>

		<div class='col-xl-4 col-lg-6 col-md-6'>
			<div class='services_box'>
				<a href='/bollards/'><h2>Bollards</h2></a>
				<a href='/bollards/'><p>Learn more...</p></a>
				<a href='/bollards/' style='width:inherit;'><img class="" src="{% static 'image/bollards/home-bollards-link.jpg' %}" alt="link to bollard page"></a>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}

<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@type" : "WebSite",
  "name" : "Crusader Concrete",
  "url" : "https://mcexcavate.com/"
}
</script>

{% endblock javascript %}