{% extends "base.html" %}
{% block content %}
{% load static %} 

<!--- Iamge Banner -->
<div class='cointainer-fluid'>
	<div class='row'>

		<div class='col col-12'>
			<div class= "img-ban-1">
				<div class= "ban-box">
				   	<img id= "ban-image" class="ban-image" src= "{% static 'image/excavation/mini ex filling deisel dumer.jpg' %}" alt="excavator in mud winter ottawa">
					<img id= "ban-image" class="ban-image" src="{% static 'image/sod/grading and laying green new sod in back lawn white fence ottawa.jpg' %}" alt="back lawn with new sod and white fence" >
				</div>
				<div class= "ban-box">
				  	<img id= "ban-image" class="ban-image" src="{% static 'image/banner/Sean-stamped-concrete-4.jpg' %}" alt="mini ex filling dump truck">
				</div>
				<div class= "ban-box">
				  	<img id= "ban-image" class="ban-image" src="{% static 'image/banner/ban_4.jpg' %}" alt="bulldozer and backhoe grading for sod">
					<img id= "ban-image" class="ban-image" src="{% static 'image/banner/ban_6.jpg' %}" alt="interlock steps walkway and garden wall">
				</div>
				<div class= "ban-box">
				  	<img id= "ban-image" class="ban-image" src="{% static 'image/banner/interlock-banner-2.png' %}" alt="interlock driveway extension">
					<img id= "ban-image" class="ban-image" src="{% static 'image/banner/ban7.jpg' %}" alt="bulldozer grading a field for sod Installation">
				</div>
			</div>
		</div>

		<div class='col col-12'>
			<!--- Sayings Bar -->
			<div class="carousel-1 slide" data-ride="carousel">
			  <div class="carousel-items">
			    <div class="carousel-item active">
			        <h2 class="d-block" align="center">Excavation</h2>
			    </div>
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Interlock</h2>
			    </div> 
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Concrete</h2>
			    </div> 
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Sod Installation</h2>
			    </div>
<!-- 			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Asphalt Paving</h2>
			    </div> -->
<!-- 			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Asphalt Repairs</h2>
			    </div> -->
			    
			    <div class="carousel-item">
			      	<h2 class="d-block" align="center">Parging</h2>
			    </div>
			    <!-- <div class="carousel-item">
			      	<h2 class="d-block" align="center">Lawn Mowing</h2>
			    </div> -->
			  </div>
			</div>
		</div>

	</div>
</div>

<div class='cointainer-fluid'>
	<div class='row p-4'>
		<div class='col-12'>
			<h1>McExcavate - Ottawa Concrete Contractor</h1>
			<p>Serving Ottawa since 2013</p>
		</div>
		<div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/concrete/'><h2>Stamped Concrete</h2></a>
				<a href='/concrete/'><p>Learn more...</p></a>
				<a href='/concrete/' style='width:inherit;'><img class="" src="{% static 'image/stamped-concrete/stamped_service_link.jpg' %}" alt="link to stamped concrete page"></a>
				<ul class='excavation_list'>
					<li><a href='/concrete/'>Driveways</a></li>
					<li><a href='/concrete/'>Patios</a></li>
					<li><a href='/concrete/'>Walkways</a></li>		
					<li><a href='/concrete/'>Steps</a></li>
				</ul>
				<a href='/concrete/'>
					<button class="btn btn-danger my-2"> Learn more... </button>
				</a>
			</div>
		</div>

		<div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/concrete/'><h2>Concrete</h2></a>
				<a href='/concrete/'><p>Learn more...</p></a>
				<a href='/concrete/' style='width:inherit;'><img class="" src="{% static 'image/stamped-concrete/concrete-services-link.png' %}" alt="link to other concrete services"></a>
				<ul class='excavation_list'>
					<li><a href='/concrete/'>Steps</a></li>
					<li><a href='/concrete/'>Slabs</a></li>
					<li><a href='/concrete/'>Repairs</a></li>
					<li><a href='/concrete/'>Sealing</a></li>
				</ul>
				<a href='/concrete/'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div>

		<div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/sod-installation/'><h2>Sod Installation</h2></a>
				<a href='/sod-installation/'><p>Learn more...</p></a>
				<a href='/sod-installation/' style='width:inherit;'><img class="" src="{% static 'image/sod/sod installation on front lawn ottawa.jpg' %}" alt="re-sodded front lawn in ottawa"></a>
				<ul class='excavation_list'>
					<li>Grass Removal & Disposal</li>
					<li>High Quality Screened Top Soil</li>
					<li>High Quality Sod</li>
					<li>Improve Grading</li>
				</ul>
				<a href='/sod-installation/'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div>

		<div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/interlock/'><h2>Interlock</h2></a>
				<a href='/interlock/'><p>Learn more...</p></a>
				<a href='/interlock/' style='width:inherit;'><img class="" src="{% static 'image/interlock/front walkway interlock black pavers ottawa.jpg' %}" alt="interlock pathway to side door black brick"></a>
				<ul class='excavation_list'>
					<li>Walkways & Patios</li>
					<li>Driveways</li>
					<li>Steps</li>
					<li>Retaining Walls</li>
					<li>Commercial & Residential</li>
				</ul>
				<a href='/interlock/'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div>

		<div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/excavation/'><h2>Excavation</h2></a>
				<a href='/excavation/'><p>Learn more...</p></a>
				<a href='/excavation/' style='width:inherit;'><img class="" src="{% static 'image/excavation/mini-ex-on-driveway.jpg' %}" alt="ottawa excavation services"></a>
				<ul class='excavation_list'>
					<li>Walkway, Patio & Driveway Prep</li>
					<li>Grading & Back Filling</li>
					<li>Pool Excavation</li>
					<li>Lot Clearing</li>
				</ul>
				<a href='/excavation/'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div>

<!-- 		 <div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/asphalt-paving/'><h2>Asphalt Paving</h2></a>
				<a href='/asphalt-paving/' style='width:inherit;'><img class="" src="{% static 'image/paving/ottawa-asphalt-driveway-paving.jpg' %}" alt="ottawa asphalt paving"></a>
				<ul class='excavation_list'>
					<li>15 Years Experience</li>
					<li>Pro Pavers</li>
					<li>Prompt Service</li>
				</ul>
				<a href='/asphalt-paving/'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div> -->

<!-- 		<div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/asphalt-repairs'><h2>Asphalt Repairs</h2></a>
				<a href='/asphalt-repairs' style='width:inherit;'><img class="" src="{% static 'image/paving/asphalt-ramp.jpg' %}" alt="lawn mowing and property maintenance ottawa"></a>
				<ul class='excavation_list'>
					<li>Ramps</li>
					<li>Patches</li>
					<li>Pot Holes</li>
				</ul>
				<a href='/asphalt-repairs'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div> -->

		 <div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/parging/'><h2>Parging</h2></a>
				<a href='/excavation/'><p>Learn more...</p></a>
				<a href='/parging/' style='width:inherit;'><img class="" src="{% static 'image/parging/white_parging.jpg' %}" alt="lawn mowing and property maintenance ottawa"></a>
				<ul class='excavation_list'>
					<li>Highest Quality Materials</li>
					<li>Experience</li>
					<li>Prompt Service</li>
				</ul>
				<a href='/parging/'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div>

		<!-- <div class='col-xl-3 col-lg-6 col-md-6 p-2'>
			<div class='home_page_services'>
				<a href='/lawn-mowing'><h2>Lawn Mowing</h2></a>
				<a href='/lawn-mowing' style='width:inherit;'><img class="" src="{% static 'image/maintenance/lawn cutting in back yard wing set ottawa.jpg' %}" alt="lawn mowing and property maintenance ottawa"></a>
				<ul class='excavation_list'>
					<li>Lawn Mowing</li>
					<li>Spring / Fall Clean Up</li>
					<li>Fertilizing</li>
					<li>Over Seeding</li>
					<li>Top Dressing</li>
					<li>Hedge Trimming</li>
				</ul>
				<a href='/lawn-mowing'>
					<button class="btn btn-danger my-2"> Learn More... </button>
				</a>
			</div>
		</div> -->

	</div>
</div>

{% endblock %}

{% block javascript %}

{% endblock javascript %}