{% extends "base.html" %}

{% block content %}
{% include "top_banner.html" %}
{% load static %} 
<div class='container'>
	<div class='row my-3'>

		<div class='col-sm-12'>
			<h2 style='color:black;' class='mb-3 mt-4'>Lawn Mowing</h2>
			<div class='container'>
				<div class='row'>
					<div class='col-md-6'>
				   		<ul>
						  <li>May 1st to November 15th</li>
						  <li>Weekly lawn mowing</li>
						  <li>18 – 25 cuts depending on grass growth</li>
						  <li>Includes trimming</li>
						  <li>Includes clean up using leaf blowers</li>
						  <li>Will disperse any grass clumps</li>
						  <li>We sharpen mower blades frequently</li>
						  <li>Will pick up or leave grass clippings</li>
						  <li>Serving Central Ottawa</li>
						</ul> 
						<p>We set our mowers to cut at 2.5" - 3" and won't cut off more than one-third of the grass blade. Cutting more than one third of the blade shocks the grass and deters its ability to support root growth because the roots shut down their growing process while the leaves and shoots of the plant are regrowing.</p>
						<br>
						<p>We recommend leaving the grass clippings on the lawn because as they decompose they add nutrients to the soil. We do offer as part of our service to pick up the clippings. If we do leave the clippings on the lawn we never leave a mess; any clumps of clippings will be broken apart and dispersed around the lawn using leaf blowers.</p>
						<br>
						<p>Because of the heat and slow grass growth in July and August we may cut the grass every two weeks. We will always stop by to check whether we should cut the lawn or not and clean things up with the trimmers and blowers. In October and November it is often too cold for regular grass growth so the same situation applies. Fairway has been mowing lawns in Ottawa since 2008.</p>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>

					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/large lawn striping.jpg' %}" alt="mowing and striping a large lawn in ottawa" style="width:inherit">
						<img class='p-2' src= "{% static 'image/maintenance/residential-lawn-cutting-services.jpg' %}" alt="grass mowing in back lawn ottawa" style="width: inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Fertilizing</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<ul>
						  <li>4 applications of fertilizer.  <br>#1 - Spring   <br>#2 - Early Summer   <br>#3 - Late Summer   <br>#4 - Fall</li>
						  <li>Balanced fertilizer blend appropriate for the time of year.</li>
						</ul> 
						<p>In order for grass to be healthy in the long term the root system must constantly grow and grass must constantly reproduce supplying the system with young grass and deep roots. Over time soil loses it's nutrients. To supplement this natural loss in nutrients​ lawns should be fertilized to keep the grass well fed.</p>
						<br>
						<p>Fertilizers contain nitrogen, phosphate, and potassium. The percentage of each element in the blend depends on the time of year.</p>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/demystifying-spreaders-og.jpg' %}" alt="fertilizer spreader" style="width:inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Aeration</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>Aeration is done using a gas powered machine called an aerator. The machine drives over the top of the lawn and removes plugs of soil and grass every 6" - 8" or so and leaves them on the lawn.</p>
						<br>
						<p>The holes are filled in by the surrounding soil which creates more air space in the lawn and root system. This increased air space allows water and nutrients to flow better, feeding the roots deeper and more effectively.</p>
						<br>
						<p>The plugs decompose and add nutrients to the soil.</p>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/lawn-aerator-og.jpg' %}" alt="lawn aeration ottawa ottawa" style="width:inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Dethatching</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>Dethatching is basically a very effective and thorough raking of your lawn.</p>
						<br>
						<p>A gas powered machine called a dethatcher (a.k.a. power rake) is used to bring dead grass and other organic material found at the base of the roots to the surface so it can gathered up and removed.</p>
						<br>
						<p>This creates more room down by the roots so water, nutrients and sunlight can more easily flow.</p>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/dethatching.jpg' %}" alt="lawm dethatching ottawa" style="width:inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Overseeding</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>As grass ages it slows and eventually stops reproducing on its own. Therefore to have a healthy and thick lawn in the long term overseeding should be done every season.</p>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/Why-When-and-How-to-Apply-Fall-Fertilizer-fertilizer-2.jpg' %}" alt="lawn overseeding ottawa" style="width: inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Slit Seeding</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>Slit seeding is an alternative to overseeding it is done using a slit seeding machine. The machine moves over the s​urface of the lawn, cuts a small slit in the ground and places grass seed there. This protects the seed from being blown away, and from being eaten by birds and other animals.</p>
				   		<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
						<br>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/Slit-Seeding.jpg' %}" alt="slit seeder grass ottawa" style="width:inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Top Dressing</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>Top dressing is adding a thin layer of soil or manure or organic material on top of the lawn. This is to add nutrients to the existing soil.</p>
						<br>
						<p>After we put down the organic material we rake it out using fan rakes to make sure it settles to the bottom of the grass.</p>
						<br>
						<p>We recommend top dressing if your lawn has lost its green colour or is sparse.</p>
						<br>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/top-dressing-lawn.jpg' %}" alt="top dressing lawns ottawa" style="width:inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Spring & Fall Clean Up</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>As the seasons​ change its important to keep your home and yard looking tidy. Whether that is trimming, pruning, raking or weeding. We will customize a spring clean up plan that works for you.</p>
						<br>
						<p>Our team of landscape maintenance experts is here to help you enjoy the spring.</p>
						<br>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/fall-clean-up.jpg' %}" alt="pile of leaves from fall clean up alta vista" style="width:inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Hedge Trimming</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>We provide trimming, planting and removal services for hedges, bushes, shrubs and trees. Removal of clippings is included.</p>
						<br>
						<p>Trust our hedge trimming experts to leave your property looking well maintained and tidy.</p> 
						<br>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/hedge trimmign.jpg' %}" alt="trimming tall cedar hedge ottawa" style="width: inherit">
					</div>
				</div>
			</div>	
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 style='color:black;'>Stump Removal</h2>
			<div class='container'>
				<div class='row my-3'>
					<div class='col-md-6'>
				   		<p>We remove trees and stumps of all shapes and sizes.</p>
						<br>
						<p>Call with stump dimensions and we will be able to provide you with a ballpark price.</p> 
						<br>
						<a href='/contact'><button class="btn btn-danger my-3"> Book a Free Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img class='p-2' src= "{% static 'image/maintenance/is-tree-stump-removal-necessary-f.jpg' %}" alt="stump removal ottawa" style="width: inherit">
					</div>
				</div>
			</div>	
		</div>

	</div>
</div>

{% endblock %}
