{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<div class='container'>
	<div class='row service_row'>
		<div class='col-12'>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-md-6'>
						<h1 class='m-0 mb-2' style='color:black;'>{{title}}</h1>
						<p style='font-size: 20px;' class='mb-3'>Hire us to re-sod your lawn because we have laid over one million square feet of sod and our experienced crews use top quality tools and specialized equipment. We use the highest quality, fresh, locally harvested Kentucky bluegrass and top quality screened residential top soil to help ensure your lawn stays thick and green over the long term. </p>
						<a href='/contact'><button class="btn btn-danger mt-2 mb-5">Book an Estimate! </button></a>
					</div>
					<div class='col-md-6'>
						<img src= "{% static 'image/sod/riverside south re-gradding and sodding.jpg' %}" alt="ottawa back lawn after re-gradding and re-sodding" style="width: inherit; box-shadow: 5px 5px 20px grey;">
						<p class='mt-2' style='font-size: 14px;font-style: italic;'>Back Lawn in ottawa after re-gradding and laying sod.</p>
					</div>
				</div>
			</div>
		</div>

		<div class='col-12'>
			<hr>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-12'>
						<div class='home_page_services' style='overflow: hidden;'>
						<h3 class="mb-3">Sod Installation Price Calculator</h3></p>
						<div class=''>
							{% if messages %}
							{% for message in messages %}
							<div class='alert alert-{{ message.tags }}' style='width:inherit;'>
							    {{ message }}
							</div>
							{% endfor %}
						    {% endif %}
				      	</div>
						<p class='mb-3'>Use this calculator to get an approximate price by entering the dimensions or total square footage of the area you're looking to re-sod.</p>
						<form id='' method='POST' action=".">{% csrf_token %}
							<div class='form-row'>
								<div class='form-group col-md-6 mb-0'>
									{{ form.name|as_crispy_field }}
								</div>
								<div class='form-group col-md-6 mb-0'>
									{{ form.email|as_crispy_field }}
								</div>
 							</div>
 							<div class='form-row'>
								<div class='form-group col-md-6 mb-0'>
									{{ form.address|as_crispy_field }}
								</div>
								<div class='form-group col-md-6 mb-0'>
									{{ form.yard|as_crispy_field }}
								</div>
 							</div>
 							<div class='form-row'>
								<div class='form-group col-4 mb-0'>
									{{ form.length|as_crispy_field }}
								</div>
								<div class='form-group col-4 mb-0'>
									{{ form.width|as_crispy_field }}
								</div>
								<div class='form-group col-4 mb-0'>
									{{ form.area|as_crispy_field }}
								</div>
 							</div>
 							<div class='pt-3'>
					      		<button id='' style='float:right;' type="submit" onclick='getPrice()' class="btn btn-danger mt-2">Show Me The Price Now!</button>
					      	</div>
				      	</form>
				      	</div>
					</div>
				</div>
			</div>
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 class='mt-5' style='color:black;'>Testimonials</h2>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-md-6 p-2'>
				   		<div class='home_page_services'>
							<img src= "{% static 'image/banner/ban5.jpg' %}" alt="front lawn re-sodding orleans " style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'><i>"The process from initial quote to installation day was easy and we couldn't be happier with the end result!"</i></p>
							<br> 
							<p><b>- L. Wong, Kanata</b></p>
						</div>
					</div>
					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/banner/ban_2.jpg' %}" alt="back lawn sod installation nepean " style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'><i>"I would not hesitate to recommend you to others who want a job well done in a timely fashion. Thanks again."</i></p>
							<br> 
							<p><b>- L. Martin, Orleans</b></p>
						</div>
					</div>
					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/sod/re-grading and sodding ditch and front yard.jpg' %}" alt="corner lot with new sod lawn alta vista" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'><i>"We are so happy with our new lawn and have McExcavate to thank for it."</i></p>
							<br> 
							<p><b>- M. Jennings, Barhaven</b></p>
						</div>
					</div>
					<div class='col-md-6 p-2'>
						<div class='home_page_services'>
							<img src= "{% static 'image/sod/sloping back yard with new grass.jpg' %}" alt="lawn grading and sod install ottawa" style="width: inherit; box-shadow:5px 5px 20px grey;">
							<p class='mt-3'><i>"To quote my 5yr old... "our lawn is not prickly anymore... it's super soft". Thanks for all your hard work & great customer service"</i></p>
							<br> 
							<p><b>- S. Mallory, Stittsville</b></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 class='mt-5' style='color:black;'>Benefits of a Thick and Healthy Lawn</h2>
			<div class='container-fluid'>
				<div class='row mb-3 mt-0'>
					<div class='col-md-12 mb-2 mt-2'>
						<p>Since the banning of pesticides and other chemicals that home owners in Ottawa came to rely upon to maintain a lush and vibrant green lawn we have noticed a trend towards wild gardens or stone landscaping in favour of grass. Before settling for such options consider these seven compelling benefits that come with a gorgeous green lawn:
						</p>
						<br>
						<h3>Adds Value to Your Home</h3>
						<p>According to The Canadian Real Estate Association, a well-kept lawn provides 100 to 200% return on investment and can increase the resale value of a home by 15% or more. Aside from the measureable statistics, the increase in curb appeal will attract a greater number and more desirable buyers to your home should you decide to sell.</p>
						<br>
						<h3>Improves Air Quality</h3>
						<p>A thick healthy lawn improves air quality around your home by filtering out tiny particles of dirt and dust that would otherwise float in the air. Blades of grass also trap smoke and other air pollutants. These miniscule particles can cause trouble, leading to breathing difficulties, irritated eyes and allergies.</p>
						<br>
						<h3>Produces Oxygen</h3>
						<p>Grass is also excellent at producing oxygen. 750 square feet of thick healthy grass will produce 0.710m3 of oxygen per day. This oxygen production can power 1.21 people, offsets 174 kilometres of driving, and does the work of 28.74 trees.</p>
						<br>
						<h3>Reduces CO2 Emissions</h3>
						<p>Due to grass' high leaf density and fast growth rate it is one of the most effective plants at absorbing greenhouse gases like carbon dioxide (CO2) and converting them into oxygen</p>
						<br>
						<h3>Controls Soil Erosion</h3>
						<p>Small-scale soil erosion can make a lawn look bad and become bumpy. While larger-scale soil erosion can affect your yards grading plan and eat away at a shore line or berm. Grass and grassroots are able to keep soil in place. Turfgrass is reccomended because it is more durable than alternative solutions, it is far more cost-effective, and it provides measurably better results.</p>
						<br>
						<h3>Improves Water Quality</h3>
						<p>Water run off from a hard surface like asphalt is ten times more acidic than rainwater filtered through grass. A major benefit to choosing grass as your surface is that it improves water quality by trapping pollutants like dust and smoke, and slows down run off.</p>
						<br>
						<h3>Fosters Soil Health</h3> 
						<p>Healthy grass improves the health of all surrounding orgamisms. Grassroots and grass clippings eventually decay and feed the topsoil. Healthy grass produces organic materials and oxygen for creatures like grubs, earthworms and ants. It also creates a hospitable environment for necessary micro organisms like fungi, bacteria, and microbes, creating a healthy and balanced ecosystem.</p> 
					</div>
				</div>
			</div>
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 class='mt-5' style='color:black;'>Our Re-Sodding Process</h2>
			<div class='container-fluid'>
				<div class='row my-3'>
					<div class='col-md-12 mt-3 mb-2'>
						<h3>Grass Removal & Rototilling</h3>
						<p>The first step when re-resodding is to remove the old grass. We use a sod cutter that cuts the grass out under the surface at the roots. Next we pick up all that old, unwanted grass and weeds. We use shovels and wheel barrows on lawns with limited access and skid steers where we have sufficient access. We take it all away in a dump trailer or dump tuck. Once every ounce of evidence of the old lawn is gone we rototill the existing soil to aerate it and to bring fresh organic material to the surface.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/ryan-junior-sod-cutter-doing-lawn.jpg' %}" alt="sod cutter cutting out old grass" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/Oak-Husrt-Before-Sod.jpg' %}" alt="removing old grass from front lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/Marolaine-Before.jpg' %}" alt="excavated back lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Soil & Grading + Fertilizer </h3>
						<p>To prepare for new sod we add approximately 3” of fresh, screened, residential top soil. We maintain a proper grade that adheres to any city approved drainage plans and to ensure that water runs away from the foundation of the house. If the current grade needs to be corrected we will add or remove extra soil where needed. Once we have established a proper grade and the soil is even and flat with no bumps or valleys, we compact the soil using a lawn roller and then re-rake to loosen the soil. Proper grading is important because it is the base the lawn will be living on for years to come, improper grading can lead to foundation issues and/or a wet basement. Unevenness in the lawn creates tripping hazzards and also makes mowing difficult. Finally, just before laying down the new sod we evenly spread fertilizer across the whole lawn.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/us-ambassador-residence-gradding-before-re-sodding.JPG' %}" alt="bulldozer and backhoe spreading new soil" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/us-embassy-prepping-and-grading-for-new-sod.JPG' %}" alt="bulldozer grading soil for new lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/us-ambassador-residence-moving-soil-for-grading-lawn.JPG' %}" alt="backhoe hauling soil on new lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/orleans-front-lawn-with-new-soil-before-raking.jpg' %}" alt="soil spread on lawn with no grass" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/us-embassy-site-prep-before-laying-sod.JPG' %}" alt="large lawn graded and prepared for sodding" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/large-back-yard-with-new-soil-before-grading.JPG' %}" alt="back yard with pool soil spread aroud lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Laying Sod</h3>
						<p>Laying the sod requires attention to detail. It is important that sod rolls are laid perpendicular to the direction of water runoff. Joints in the sod should be staggered so that water runoff is redirectied and doesn't erode the new soil at sod joints. We take great care to make sure that there are no gaps between the sod pieces so they grow together quickly.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/large-sod-rolls-ottawa.JPG' %}" alt="large sod rolls waiting for re-sodding" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/us-embassy-laying-sod.JPG' %}" alt="partly re-sodded large lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/aluetian-front-lawn-graded.JPG' %}" alt="sod rolls on driveway soild spread on front lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<br>
					<div class='col-md-12 mt-4 mb-2'>
						<h3>Finishing Touches</h3>
						<p>We precisely cut any pieces that need to be trimmed. The last step is to roll the sod with the lawn roller, this compresses the soil further and helps the new sod mesh with the soil.</p>
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/rockcliffe-park-side-yard-sod-install.jpg' %}" alt="stone steps post sod installation side lawn" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/20140707_155237.jpg' %}" alt="small back yard with new sod" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
					<div class='col-md-4 p-3'>
						<img src= "{% static 'image/sod/175-Hornchurch-Lane-40.jpg' %}" alt="town house back lawn after sod installation" style="width: inherit; box-shadow:5px 5px 20px grey;">
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-12 my-3'>
			<hr>
			<h2 class='mt-5' style='color:black;'>Watering</h2>
			<div class='mt-4'>
				<h3>When</h3>
				<p>Begin watering new sod within a half hour after it is laid. Apply 1 to 2 inches of water so that the soil 
				beneath the sod is very wet. Ideally, the soil 3 to 4 inches below the surface should be moist.</p>
				<br>
				<p>After the 1st heavy soaking continue to water the lawn every day in the 1st week after installation. After the 1st week you can back off the watering a bit to every 2nd day. Water every second day for a week or 2 and if the lawn still looks green you can back off again to a couple of times per week.</p>
				<br>
				<p>Adjust the amount of water you’re applying depending on the weather conditions. In the cooler temperatures of spring and fall apply ½ inch per day but in July and August 1” per day will likely be the best way to go. Also adjust the amount of water you apply depending on how much it rains. Always water in the morning or at night to avoid water loss by evaporation.</p>
			</div>
			
			<img src= "{% static 'image/sod/new-sod-watering-calander.jpg' %}" alt="watering calander for new sod" style="width: inherit; box-shadow:5px 5px 20px grey;" class='my-4'>

			<br>
			<div class=''>
			<h3>How</h3>
			<p><b>Watering Tip #1:</b> To measure the amount of water you’re applying put down a few  containers (tuna cans are a popular choice) on different spots of the lawn, before you turn on the sprinkler(s). Some containers will gather more water than others so wait until on average, they have collected the desired amount of water. </p>
			<br>
			<p><b>Watering Tip #2:</b> Pull back a corner of the sod and push a screwdriver or other sharp tool into the soil. It should push in easily and have moisture along the first 3 or 4 inches, or you need to apply more water.</p>
			<br>
			<p><b>Watering Tip #3:</b> Make absolutely certain that water is getting to all areas of your new lawn, regardless of the type of sprinkler system you use. Corners and edges are easily missed by many sprinklers and are particularly vulnerable to drying out faster than the center portion of your lawn. Also, areas near buildings dry-out faster because of reflected heat and may require more water.  </p>
			</div>
			<br>
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

function changeLengthWidth(){
	
	var area = document.getElementById("area").value;
	
	function lengthWidth(area){			
		return Math.sqrt(area);	
	};

	length_width = lengthWidth(area)

	function writeLengthWidth(length_width){
		document.getElementById("length").value = length_width.toFixed(0);
		document.getElementById("width").value = length_width.toFixed(0);
	};

	writeLengthWidth(length_width)
};

function changeArea(){

	var length = document.getElementById("length").value;
	var width = document.getElementById("width").value;

	function findArea(length, width){
	return length * width
	};

	var area =  findArea(length, width);

	function writeArea(area){
		document.getElementById("area").value = area.toFixed(0);
	};

	writeArea(area);
};

</script>
{% endblock javascript %}
