{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
<div class='container'>
	<div class='row'>

		{% include "service_breadcrumbs.html" %}

		<div class='col-lg-6 '>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row p-0'>
						<p class='service_top_row_p'>We can build the stamped concrete patio of your dreams. What ever size, shape, colour and stamp pattern you desire can be done! With a strong base built to withstand the Ottawa climate and attention to detail that will leave you impressed and satisfied with your decision to hire McExcavate!</p>
						<div class='service_top_row_bullets'>
						<p>• Strong base construction</p>
						<p>• Sufficient reinforcement</p>
						<p>• Detailed and meticulous finishing</p>
						<p>• Professional customer service</p>
						</div>
						<img src= "{% static 'image/stamped-concrete/beige-stamped-concrete-patio-flagstone.jpg' %}" alt="Back yard stamped concrete patio in flagstone pattern located in Kanata ON.">
						<p class='service_img_caption_black'>Back yard stamped concrete patio in flagstone pattern located in Kanata ON.</p>
						<!-- <a href='#contactform'><button class="btn btn-danger service_page_button">Request a Free Quote!</button></a> -->
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>

		<div class='col-sm-12'>
			<hr>
			<h2 class='mt-5' style='color:black;'>How We Build Stamped Concrete Patios</h2>
			<div class='container-fluid'>
				<div class='row mb-3 mt-0'>
					<div class='col-md-12 mb-2 mt-2'>
						<p>If you are considering installing a new patio or replacing an existing one in Ottawa you might be weighing the options between interlock, concrete and perhaps patio stones or flag stone. A stamped concrete patio has many benefits such as being less costly than interlock, better looking than patio stones and more practical than flagstone. Below we explain some things that you may want to keep in mind while planning the construction of a stamped concrete patio.  
						</p>
						<br>
						<h3>Excavation & Base</h3>
						<p>Living in Ottawa you know that we experience vast temperature differences between peak summer heat and the depths of winter cold. This causes the ground to freeze deeply and then thaw completely resulting in movement and shifting of any ground that retains a lot of water. Therefore soil and clay need to be dug out and replaced with crushed stone.</p>
					  <p>Our recommendation for a patio base is the following:</p>
					  <ul>
					  	<li>Excavate 12" - 18" deep.</li>
					  	<li>Over-dig by 6" on either side of the patio.</li>
					  	<li>Add landscape fabric.</li>
					  	<li>Add 8" - 14" inches deep of Granular A (dust to 3/4" diameter) stone.</li>
					  	<li>Compact the base every 3" using a vibrating compactor.</li>
					  </ul>
						<br>
						<h3>Reinforcement</h3>
						<p>Welded wire mesh is usually sufficient reinforcement for a patio but rebar can be added for additional strength.</p>
						<br>
						<h3>Concrete</h3>
						<p>We pour patios at a minimum of 4" thick. We use concrete with a 28 day compressive strength of 30 MPa, with 8% entrained air and fibre mesh.</p>
						<br>
						<h3>Colour</h3>
						<p>If we are colouring a patio we will order concrete with an integral colour added in at the concrete plant. We will then add an acceent colour using realease powder while we stamp or we will add the secondary colour after the concrete has hardened using a water soluble antiquing powder.</p>
						<br>
						<h3>Control Joints</h3>
						<p>We put crack control joints approximately every 4 to 7 feet depending on the dimensions of the patio. We can do either tooled or sawed joints.</p>
						<br>
						<h3>Sealing</h3> 
						<p>We seal every stamped concrete patio after it has cured with three coats of sealant. A sealer will protect the concrete from being penetrated by oil, grease, dirt, chemicals or other substances. Sealing also protects the colour from fading due to exposure from UV light.</p> 
					</div>
				</div>
			</div>
		</div> 

		<div class='col-12'>
			<hr>
			<h2 style='color:black;' class="pt-3">Our Other Concrete Services</h2>
			<div class='container-fluid'>
				<div class='row mt-4 mb-3'>
					<div class='col-md-12 mb-2'>
						<a href='/concrete/'><p>Stamped Concrete</p></a>
						<a href='/concrete/stamped-patio/'><p>Stamped Concrete Patios</p></a>
						<a href='/concrete/stamped-walkway/'><p>Stamped Concrete Walkways</p></a>
						<a href='/concrete/slabs/'><p>Concrete Slabs</p></a>
						<a href='/concrete/steps/'><p>Concrete Steps</p></a>
						<a href='/concrete/repair/'><p>Concrete Repair</p></a>
						<a href='/concrete/sealing/'><p>Concrete Sealing</p></a>
					</div>
					<br>
				</div>
			</div>
		</div>

		{% if blogs %}
		{% include "related-blogs.html" %}
		{% endif %}
		

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update values
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete";
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}
