/* Service Pages */
.service_title{
margin:25px 0px 25px 0px;
}

.service_top_row{
padding-left: 0px ;
padding-right: 0px;
}

.service_top_row img{
width: inherit; 
}

.service_top_row_p{

}

.service_top_row_bullets{
margin: 10px 0px 20px 0px; 
}

.service_hero{
margin: 0px 0px 0px 0px !important;
padding: 55px 5px 75px 5px !important;
background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("/static/image/stamped-concrete/dark-grey-stamped-concrete-walkway-banner.jpg");
height:inherit;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

.service_hero_col{
margin: 0px 0px 0px 0px;
padding: 0px 5px 0px 5px !important;
}

.service_hero_col h1{
margin-top: -7px;
color: white;
font-size: 36px;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.service_hero_text{
margin: 25px 0px 0px 0px!important;
padding: 20px 10px 25px 10px;
background-color: rgba(255, 255, 255, 0.90);;
width: inherit;
}

.service_hero_col_p{
font-size: 18px;
color: black;
margin:0px 0px 15px 0px !important;
padding: 0px 0px 0px 0px;
}

.service_hero_col_bullets{
font-size: 18px;
color: black;
}

.service_hero_col_img_caption{
font-size: 14px;
font-style: italic;
color: white;
margin:0px 0px 35px 0px !important;
padding: 0px 0px 0px 0px;
}

.service_hero_col img{
width: inherit; 
box-shadow: 5px 5px 20px grey;
margin:30px 0px 5px 0px;
}

.service_page_button{
margin:15px 0px 20px 0px;
}

.top_testimonial{
position: absolute;
margin:0px 0px 50px 0px;
}

.top_testimonial_content{
position: absolute;
bottom: 0;
}

.services_contact_form_row{
padding:0x;
}

.services_contact_form{
  box-shadow: 3px 3px 15px grey;
  padding: 20px 20px 20px 20px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
  width:inherit;
  background-color: white;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

.top_testimonial_content{
margin:700px 0px 50px 0px;
}
}


@media only screen and (max-width: 768px) {
.service_hero_col h1{
font-size: 28px;
}
}

@media only screen and (max-width: 576px) {
.service_hero_col h1{
font-size: 26px;
}
}