{% extends "base.html" %}

{% block content %}

{% include "blog/blog-breadcrumbs.html" %}
<div class='container-fluid'>
	<div class='row'>
		<div class='d-none d-xl-block col-xl-8' style='padding:0px;'>
			<div class='container-fluid'>
				{% for blog_post in object_list %}
				<div class='row mx-auto blog_box'>
					<div class='col-4 mx-auto' style='margin-right:auto; width:100%; overflow:hidden;'>
						{% if blog_post.image %}
							<a href="{{ blog_post.get_absolute_url }}">
								<img src="{{ blog_post.image.url }}" style='padding:25px 25px 25px 10px; margin-right:auto; height:250px; overflow:hidden;'/>
							</a>
						{% endif %}
					</div>
					<div class='col-8'>
						<a href="{{ blog_post.get_absolute_url }}">
							<p class='' style='font-size:20px; font-family:GothamBold; color:black; padding:10px 10px 0px 0px;'>{{ blog_post.title }}</p>
						</a>
						<p>{{ blog_post.publish_date }}</p>
						<p>Author: {{ blog_post.user.username }}</p>
						<p class='pt-2'>{{ blog_post.content|slice:":250" }}...</p>
						<p class='my-2'><a href='{{ blog_post.get_absolute_url }}'> Read More...</a></p>
						{% if not blog_post.publish_date %}
						<h2>Draft</h2>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class='col-xl-4 col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto' style='padding:0px;'>
			<div class='container-fluid'>
				{% for blog_post in object_list %}			
				<div class='row mx-auto small_blog_box'>
					<div class='col-3' style='margin-right:auto; width:100%; overflow:hidden;'>
						{% if blog_post.image %}
							<a href="{{ blog_post.get_absolute_url }}">
								<img src="{{ blog_post.image.url }}" style='padding:20px 0px 20px 5px; margin-right:auto; height:125px; overflow:hidden;'/>
							</a>
						{% endif %}
					</div>
					<div class='col-9'>
						<a href="{{ blog_post.get_absolute_url }}">
							<p class='' style='font-size:16px; font-family:GothamBold; color:black; padding:5px 0px 0px 0px; margin-right:auto;'>{{ blog_post.title }}</p>
						</a>
						<p>{{ blog_post.publish_date }}</p>
						<p>Author: {{ blog_post.user.username }}</p>
						<p class='mt-1 mb-2' ><a href='{{ blog_post.get_absolute_url }}'> Read More...</a> </p>
						{% if not blog_post.publish_date %}
						<h2>Draft</h2>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById("sidenav_balance").style.display = "none";
	document.getElementById("act_balance").style.display = "none";
</script>

{% endblock %}


{% block javascript %}
<script>
document.getElementById("blog_link").style.color = '#1c6ee5'
document.getElementById("blog_link").style.textDecoration = 'underline'
</script>
{% endblock %}