<div class='container-fluid pt-3'>
	<div class='row'>
		<div class='col-12'>
			<h2 class='blog_h2'>{{ title }}</h2>
			<a href="/">
				<p style='display: inline'>Home</p>
			</a>
			<p style='display: inline'> --> </p>
			<a href="/blog/">
				<p style='display: inline'>Blog</p>
			</a>
			{% if blog_post.title %}
			<p style='display: inline'> --></p>
			<p style='display: inline'>{{ blog_post.title }}</p>
			{% endif %}
		</div>
		<div class='col-12'>
			<hr class='mb-4 mx-auto'>
		</div>
	</div>
</div>