{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "blog/blog-breadcrumbs.html" %}

<div class='container mb-4'>
	{% if messages %}
    {% for message in messages %}
        <div class='alert alert-{{ message.tags }}' style='width:inherit;'>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
	<form class='form-group' method='POST' action="." enctype='multipart/form-data'>{% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <div class= 'justify-content-center'>   
        <button type="submit" class="btn btn-primary">Update Blog Post</button>
        </div>
    </form>

</div>

{% endblock %}