{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %} 
{% include "service_breadcrumbs.html" %}
<div class='container'>
	<div class='row mb-5'>
		<div class='col-lg-6 '>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-12 service_top_row'>
						<h1>{{title}}</h1>
						<div class='service_top_row_bullets'>
						<p style="font-size: 18px;">Sealing your concrete has many benefits. Sealant protects the concrete from spills, weather, sunlight, water penetration and more. Sealant can also be used to create a non-slip surface on your walkway, patio, steps or driveway. Sealing also helps bring out the colour and texture in stamped and coloured concrete. Contact us today to discuss your project!</p>
						<br>
						</div>
						<img src= "{% static 'image/sealing/sealing-stamped-concrete-with-roller.jpg' %}" alt="Sealing stamped concrete with rollers">
						<p class='service_img_caption_black'>Sealing stamped concrete with rollers.</p>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-6 service_top_row'>
			{% include "services_contact_form.html" %}
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

// ---- Prevent form submit then add / update service value
document.getElementById("service_contact_form").addEventListener("submit", function(event){
  event.preventDefault();
  document.getElementById('form_service').value="Concrete"
  document.getElementById("service_contact_form").submit();
});

</script>
{% endblock javascript %}