/* Colour Modals */
/* Style the Image Used to Trigger the Modal */
.colouroptions {
  cursor: pointer;
  transition: 0.3s;
}

.colouroptions:hover {
opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width:1332px;
  max-height:900px;
  width: auto;
  height: auto;
}
.modal-content2 {
  margin: auto;
  display: block;
  max-width:736px;
  max-height:900px;
  width: auto;
  height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal_caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#modal_caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #modal_caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* colour option height */
.integral{
height:450px ;
}

.accent{
height:450px;
}

/* Concrete Calculator */
.concrete_calculator{
  box-shadow: 3px 3px 15px grey;
  padding: 20px 20px 20px 20px !important;
  margin: 30px 0px 10px 0px;
  width:inherit;
}
.concrete_calculator h4{
font-size: 18px;
font-style: bold;
margin: 0px;
}

.crete_calc_tgle_bttn{
}

.crete_calc_bttn_1{
margin-top: 25px;
background-color: white !important;
color: black !important;
border: 2px solid black !important;
}

/* Project */
.crete_project{
margin: 0px 0px 0px 0px;
padding: 5px 0px 0px 0px;
}

.crete_project p{
font-style: oblique;
padding: 0px 0px 0px 0px;
}

.project_detail_list{
display: inline-block;
margin: 0;
}

/* Shape & Size */
.crete_shape{
}
.crete_shape p{
margin: 10px 0px 0px 0px !important; 
}
.crete_shape label{
margin: 10px 0px 0px 0px;
}
.crete_shape select{
margin: 5px 0px 20px 0px;
}
.crete_shape select option{
}
.crete_shape input{
margin: 5px 0px 0px 0px;
}
.crete_shape button{
display: inline-block;
}
.crete_diameter_labelninput{
display: none;
visibility: hidden;
}


/* Finish */
.crete_finish{
display: none;
visibility: hidden;
}
.crete_finish p{
margin: 10px 0px 0px 0px !important; 
}

.calc_finish_options{
  box-shadow: 3px 3px 15px grey;
  padding: 3px 20px 10px 20px;
  margin: 0px 0px 0px 0px;
  width:inherit;
  cursor: pointer;
}
.calc_finish_options:hover{
  background-color: #DC3545;
}

.calc_finish_options:hover p{
  color: white;
}

.calc_finish_options p{
  padding: 5px 0px 5px 0px !important;
  margin: 0px 0px 0px 0px !important;
  color:black;
}

.calc_finish_options img{
 width:inherit;
 margin: 0px 0px 10px 0px;
}

/* Stamp */
.crete_stamp{
display: none;
visibility: hidden;
}

/* Color */
.crete_color{
display: none;
visibility: hidden;
}

/* Price */
.crete_price{
display: none;
visibility: hidden;
}

.stamped_price_details{
display: none;
visibility: hidden;
}

.broom_price_details{
display: none;
visibility: hidden;
}

.smooth_price_details{
display: none;
visibility: hidden;
}

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {

}
